{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 68 %}

{% block review %}
<p>
    I started working on this review project at the end of 2022, thinking that I would be able to
    get anywhere from eight to ten episodes done per day for a total project time of around twenty
    to thirty days of writing reviews. 
</p>
<p>
    It is now October 2025. I've come back to this project after two years of not working on it.
    In that time I watched nearly all of UC Gundam, and played the first ten Trails games back to
    back. That latter one is important because I started watching the show dubbed too and Stephanie
    Sheh voices Usagi in the 2010s Viz redub of the show; also, hearing Duvalie's voice pop out of
    one of the villains spooked me. Exact same voice tone too, do they only have ten voice actors
    in the entire dub industry?
</p>
<hr/>
<p>
    This episode opens with a profoundly foul scene relating to bed wetting. I don't really need
    to care about this. This episode is mostly about bed wetting actually, both in a metaphorical
    and literal sense; Chibiusa hates the future and wants to go back. It's an expression of her
    anxieties. 
</p>
<p>
    This is halfway between a lore dump episode and a focus episode for Chibiusa. On a first watch,
    one might be inclined to care about Chibiusa's feelings here, but given that she is the demon
    spawn that ruins the show I simply don't care about her suffering. There's not much to review
    here, really; the guardians in the future are stopping the destruction of Neo Tokyo. The 
    "fight" animation in the middle is legitimately a slide-show of stock animation set to a vocal
    track, a time-wasting excercise akin to the rake scene in Cape Feare.
</p>
<p>
    Line of the day is definitely: "Who are you?" / "Who am I, you ask?". Dub red hair guy
    really kills it with his "reading straight off the page" line delivery. 2.5/5.
</p>
{% endblock %}
