{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 43 %}

{% block review %}
<p>
    If you were to look up rankings of the worst Sailor Moon episodes, this one is definitely down
    there. As far as I know it's due to a change in the English dub rather than the flaws in the
    episode itself, but as I'm watching the original Japanese version I don't have that problem.
    Notably, it's ranked worse than most of SuperS which is obviously wrong.
</p>
<hr/>
<p>
    The episode starts with a cold opening straight to the inners exclaiming "Prepare to die,
    Sailor Moon!" which is a REALLY solid opening. What's going on? We need to get to the bottom
    of this! Who's that watching it that we see just before the title? What's happening in the Dark
    Kingdom? This is a great start to an episode and it really makes you wonder what is happening.
    Queen Beryl sends Kunzite to look into it and find out just what the hell is going on. The first
    thing I notice is that this episode is animated very... unusually. At first my Ando alarm was
    going off but the key animator chart shows that this is a Katsumi Tamegai episode. The
    monster-of-the-week shows up to steal some jewelry from Naru's mother's shop, and Usagi shows
    up to stop it - but then the other Senshis show up to stop Usagi and act like a total bitch
    to her! We cut to a suspicious shot of Luna and Artemis watching... something isn't right here!
</p>
<p>
    The monster of the week has disguised herself as a "journalist" for the japanese version of
    The Sun, a shithole tabloid rag that makes up content and sensationalises stuff to get an
    emotional rise out of the audience. We get another fight scene between the Senshis and Usagi
    and it's plainly revealed that this is a ruse to try and fool the Dark Kingdom for... some
    reason. I can see why people might not like this episode as Rei's bitchiness comes through again
    to ruin her character some more, outright attacking Usagi deliberately despite trying to train
    as a ruse and calling her names for no reason. This is an annoying departure from her softer
    side just a few episodes ago and I really don't like it still.
</p>
<p>
    Usagi strikes a deal with the Dark Kingdom; in exchange for the Silver Crystal, she can see
    Mamoru (who is currently incapacitated). Unfortunately, the rest of the Senshis are too
    stupid to hide themselves properly, and the Dark Kingdom realises that it's a trap, attacking
    Usagi before she can go through the portal. It turns out that Rei is holding the Moon Stick
    for Usagi so that the Dark Kingdom can't get hold of it instead. A fight happens, etc, etc.
    The emotional tone here really doesn't land at all honestly so I don't really care about the
    rest of the episode.
</p>
<hr/>
<p>
    I don't see how this is the worst episode of Classic like it's rated online; sure, the
    characters are annoying, the plot is contrived, and the episode is otherwise uninteresting for
    the final episode before the ending kicks off, but there are far worse episodes in the show!
    Half of SuperS is worse than this! It doesn't deserve to be the 10th lowest rated episode in
    the entire show. Out of everything I give it a 2.5/5 for just sort of existing.
</p>
{% endblock %}
