{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 46 %}

{% block review %}
<p>
    This episode is a 5/5. When I first watched this show, I didn't like the ending to Classic that
    much. But four years on, with the context of the rest of the show - this ending episode is a
    brilliant episode that serves as an excellent, adventurous end to Sailor Moon's first run.
    I'm going to take this opportunity to review the entire first series of Classic instead,
    as there's nothing I could say about this episode that isn't part of the context of the whole
    series' run instead.
</p>
<p>
    Mamoru's transformation over the course of the season is one of my favourite parts of the first
    series, from his arsehole nature to Usagi in the first arc acting as a foil to his subconscious
    Tuxedo Mask form that gave her inspiration to fight every time, to the "restrained evil" nature
    in the last arc of the series, to his final appearance where is completely controlled by the
    Dark Kingdom. A lot of people have this idea that he's a character with zero depth, who
    "shows up", doesn't do anything, and leaves; but that's simply not true. Even from the start,
    he knows he has a connectton with Usagi and Sailor Moon, and acts as the key to helping her
    unleash her power every time. This is what makes taking him away from Usagi at the midpoint
    really work!
</p>
<p>
    Usagi unfortunately does not get the treatment she deserves over the course of the show. Whilst
    she slowly grows into accepting her responsibilities as Princess Serenity, there's a lot of
    annoying moments even long past the critical point of episode 35 where she still acts like the
    crybaby that she professes to be at the beginning of the series. I understand that it's a key
    part of the show, and that there are certainly entirely appropriate moments where she is weak,
    but a lot of the time the silly air-headedness is too extreme and can take you out of the
    moment.
</p>
<p>
    Sailor Moon is often most famously known for its aesthetics and art style, and Classic is where
    it really shines with the famous palette of turquoise and purple being most prominent in this
    series. Unfortunately the animation quality varies far too much throughout the show; this is
    somewhat understandable being a weekly show for six years straight with little to no breaks but
    that doesn't make it good. Keeping key animators like Ando on for multiple episodes is an
    insult to the viewers, really. The actual animation varies from beautiful to "11 year old's
    first flash animation", going from interesting scenes with dynamic movement to sprites
    moving linearly around the camera in the same moment. There's a few moments where the characters
    speak but their lips don't move which really stands out above everything else, too.
</p>
<p>
    Right now, I would rate Classic... 1st out of all the series that I've watched. This is a given
    since I've only watched Classic! But at the end of each series I'll rank them overall. My best
    guess for what I think Classic will be is either 3rd or 4th out of all five; which is usually
    where most people place it.
</p>
{% endblock %}
