{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 58 %}

{% block review %}
<p>
    The end to this sorry little arc is finally upon ye. And let it be said that Makai Tree went out
    with a very annoying noise, halfway between a band and a whimper. Actually, I lie - this isn't
    the end (yet). That's not till next episode. But this is the first part of the ending!
</p>
<hr/>
<p>
    The first thing to note is that Toei pulled one of their good animators out of the bag for this
    episode - Kazuko Tadano, who sadly only worked on the first two series of the 90s show as well
    as the R movie. She has a good style that works well for the show in my opinion, and it's good
    to see that the staff can get one of the better animators for plot-important episodes.
    Although, there's a scene a few minutes in where the "walking cycle" is the Senshis moving up
    and down across the cel. Also, Usagi briefly turns entirely orange later in the episode for
    some reason - I think it's meant to be related to the sunset but Mamoru isn't orange and the
    rest of the show has the typical deep purple palette.
</p>
<p>
    The Makai Tree has finally noticed that the aliens are cheating bastards and dies as a result.
    Naru and Umino get caught in the evil guy's plot, so the Sailor Moon universe is slowly
    returning to normal. For some reason the aliens have the Makai Tree just hiding behind a
    Star Trek automatic door, and the aliens note that they have a warm feeling in their heart
    that they've never heard before (because they're biologically evil...?). The Makai Tree fucking
    attacks Usagi too, growing a sapling from it! But the energy from the cardian kills it.
    Also the Makai Tree can speak.
</p>
<p>
    You can see where this is going, really. They're evil and cheating and don't love eachother,
    but the sapling grew from Usagi who the boy alien apparently does love. This is where the stupid
    love triangle throughout the whole series comes from; it's a lesson to the aliens that the true
    source of energy that would revive the tree is LOVE (not humans!) It's very parallel to the
    message from Classic, where the LOVE between Usagi and Mamoru defeats the evil human energy
    gathered by the Dark Kingdom, which follows the theming of this arc just being Classic 2.
</p>
<hr/>
<p>
    The comedy here is very hit-or-miss; Usagi seems far stupider than usual and a lot of it
    is derived from this stupidity. Being a plot episode it's obviously meant to be more of a
    serious episode but Sailor Moon thrives on its comedic moments and it just doesn't hit at all.
    The build-up to next episode's plot is extremely plainly obvious throughout but it's done
    decently well for a kids show so I can't really complain that much. That being said, I still
    give it a 3.5/5 for being otherwise entertaining to watch.
</p>
{% endblock %}
