{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 49 %}

{% block review %}
<p>
    After nearly a full two weeks off to let my brain rest, I finally return to Makai Tree (Makai
    Tree) again. This time, we're introduced to the Moonlight Knight! Also it's an Ando episode.
</p>
<hr/>
<p>
    First, rather than talking about the episode, I'll talk about the Moonlight Knight instead,
    as the episode is another forgettable Makai Tree (Makai Tree (<i>Makai Tree</i>)) filler
    episode. The Moonlight Knight fills in for Tuxedo Mask in the Doom Tree arc, being Usagi's
    special moral support that intervenes to give her to the courage to defeat the enemy when she's
    down. He's also literally Mamoru again, complete with the same "oh I wonder who he is" conundrum
    over his real world identity for the entire arc. If it wasn't obvious that this isn't Classic
    all over again, this should really hammer it in.
</p>
<p>
    Otherwise, this is a Mako-focused episode which continues her "lusting after some random guy"
    arc, complete with multiple (original?) musical numbers. I simply do not care about any of this
    at all, and combined with it being a Makai Tree arc episode this episode is just bad and not
    worth watching at all. Animation wise; it's an Ando episode. That pretty much sums up anything
    I have to say. The only thing of note is the funny red flashing lights hospital scene where
    they really didn't want to animate any of it so they just do a slideshow instead.
</p>
<hr/>
<p>
    I give this episode a 1/5 for being a Makai Tree episode that sucks. I hate the aliens lusting
    over Mamoru/Usagi, I hate Mako's subplot, I hate the animation, I just hate it. I went into this
    arc thinking "actually this wasn't that bad", but no, I hate it. I hate Makai Tree. This episode
    made me realise that! The whole Moonlight Knight and lusting after Mamoru/Tuxedo Mask thing is
    done a LOT better in Stars too!
</p>
{% endblock %}
