{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 45 %}

{% block review_image %}
{{ iimg("makeup.jpg") }}
{% endblock %}

{% block review %}
<p>
    <span class="C-YELLOW">Moon Prism Power, Make Up!</span>
</p>
<p>
    THIS episode is what fucking Magical Girl is all about! None of that pussy shit about the power
    of friendship! None of that "oh, woe is me" in the modern dark magical girl that has infected
    the genre! These girls literally fucking die! They're dead! They get KILLED for real! This
    was made in fucking 1993 !
</p>
<hr/>
<p>
    The world is turning to shit and this time it isn't even the Japanese government's fault! Did
    you remember the Senshis saying exactly one week ago that they were going to go to the north
    pole immediately? Well, first we need to cook some curry! This scene serves essentially no
    purpose at all in the show so I'm really glad it was included.
</p>
<p>
    After forty five long weeks, it is finally here. The first Inner Senshi group transformation.
    This is so fucking hype. I am genuinely so fucking hyped whilst watching this episode because
    of the group transformation. It's such a silly thing but I don't care! Their solution to getting
    to the Arctic is to, uh, "combine their powers and teleport" (this is not the first time this
    will happen). In the Dark Kingdom, the Nintendo 64DD girls volunteer to try and finish off the
    Senshis before they can make it to the base and stop the resurrection of Queen Metalia. Their
    first attempt is to create an illusion of Tuxedo Mask to try and lure in Usagi - which almost
    works, actually, if the other Senshis didn't tackle her down. The 64DD girls try the exact
    same trap and it almost works again; I don't think even Usagi would fall for it twice, so
    it's a very silly moment.
</p>
<p>
    Jupiter is the first of the Senshis to die! She actually dies! For real! She fucking blows
    herself up in an actual non-stock footage attack! The show makes it absolutely crystal fucking
    clear that the Senshis are going to actually die for real this episode by literally killing
    Jupiter ten minutes in for actual real. Putting the eyecatch immediately after is extra cruel;
    I imagine those poor kids in the 90s were literally going insane for the next four minutes
    having watched a Senshi literally die for real.
</p>
{{ iimg("ep045-2.jpg") }}
<p>
    Usagi almost decides to call it quits before getting a solid slap across the face from - out
    of everyone - Ami! This episode is not pulling any punches at all by having even Ami of all
    people do the wake-up slap on Usagi. She states that she's not going to die, which obviously
    means she's going to fucking die against the next 64DD member. It's almost cute that she can
    actually be fooled by the monsters with the illusion of the esper from a few episodes ago! We
    get ANOTHER non-stock footage attack before Ami just straight up gets killed as well! Minako
    dies after doing a point-blank Crescent Beam at the enemy; the voice actor REALLY sells her
    screams of pain here! It's one of the best voice acting performances so far. Rei states
    "We don't know yet if I'm going to die" immediately before being killed by the ice, leaving
    Usagi in a fugue state having seen all four of her friends die in about five minutes.
</p>
<p>
    What really sells this episode is Usagi's almost bewildered expression and passiveness as her
    friends die around her, making you really feel as if she's powerless to prevent it no matter
    what. I can't convey it properly in text, but everything about this episode lands the emotions
    every single time. It's a stark contrast to the rest of the show which relies on comedy
    everywhere, but it shows that when push comes to shove, Sailor Moon can make you cry when it
    needs to.
</p>
<hr/>
<p>
    This episode gets a 5/5 for just being really good. I can't possibly put it into text the way
    I want to; you just have to watch the episode.
</p>
{% endblock %}
