{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 42 %}

{% block review %}
<p>
    If I was one of the other three inners, I would be really insulted by Minako getting a focus
    episode not even ten episodes after she was introduced. I know we have a quota to fulfil,
    but we really could've cut some of the bad episodes early on and given them to the other
    inners. We even have like a full three months of pure filler coming up we could've cut into
    instead!
</p>
<p>
    Nevertheless, this is Minako's first focus episode of the show. It's also the LAST FILLER
    EPISODE (sort of) YAY before we get the anime's dramatic ending! I remember specific parts of
    this episode quite well, such as on the cruise ship.
</p>
<hr/>
<p>
    The Senshis are looking for the entrance to the Dark Kingdom, but as of now there's been no
    hits at all. The sun is doing something freaky with sunspots, which is all the fault of the
    Dark Kingdom. The English are being evil. Everything is normal in the Sailor Moon universe.
</p>
{{ iimg("ep42-2.jpg") }}
<p>
    The English person being evil is, in this case, an interpol officer who used to work with Minako
    when she was working solo as Sailor V and who knows her civilian identity and as a result is
    being targeted by the Dark Kingdom to try and take out the Sailor Senshis in their civillian
    form. The writers also forgot that it's winter and have Minako come out to the dock in nothing
    but a coat and a short skirt before being attacked by the now converted interpol officer. We
    get what I am reasonably certain is Usagi's final usage of the disguise pen after she shows
    up so that she can pilot a boat and escape with Minako. The logic leap here is interesting;
    Usagi disguises herself as a sailor so now she knows how to drive a boat.
</p>
{{ iimg("ep42-3.jpg") }}
<p>
    Usagi and Minako then escape to a disused cruise ship and oh my god the visuals here are
    absolutely some of the worst the show has had so far. The characters are all covered in this
    horrible piss filter that makes them look way more yellow and blue than they otherwise should.
    We get some backstory about Minako's lost love (Allan, some guy from the UK), and her friendship
    with the previous interpol lady who stole her boyfriend after she thought Venus died. They
    fight, Usagi has to be convinced NOT to outright kill her (what the fuck, Usagi?), etc.
</p>
<hr/>
<p>
    It should be a common theme by now, but I really do not care for some of these "little girl"
    episodes. I'm not saying that they're bad episodes, nor am I saying that the show shouldn't
    have these episodes (well, I am to some extent, as that's what SuperS is), but as I am not the
    target audience I simply do not enjoy these episodes at all. This one is about Minako's lost
    love with her boyfriend and the trauma of losing him to a police officer (uh, she's 14?) and
    that does just not appeal to me. Usagi's baffling argument that she should just fucking kill
    the monster instead of saving her because she "stole" Minako's former boyfriend is completely
    contrary to her character thusfar; really, this is one of Usagi's worst episodes when it comes
    to her general attitude.
</p>
<p>
    Aside from some of the aforementioned animation issues, I do love the general artstyle of this
    episode. It's extremely Sailor Moon in the visual aesthetics everywhere, from the vivid and
    bright cityscape shots to the series' signature greens and blues in the boat scenes. Otherwise,
    this episode is mediocre and not really worth caring about. I give it a 2/5.
</p>
{% endblock %}
