{% from "_titles.jinja2" import titles %}

{%- macro stars(rating) -%}
{% for star in range(1, 6) %}
{% if rating == (star - 0.5) %}
<i class="bi bi-star-half" style="color: orange"></i>
{% elif rating >= star %}
<i class="bi bi-star-fill" style="color: orange"></i>
{% else %}
<i class="bi bi-star"></i>
{% endif %}
{% endfor %}
{%- endmacro -%}

{%- macro r_skip(type) -%}
{% if type == "mandatory" %}
<P STYLE="COLOR: PURPLE">Mandatory!</P>
{% elif type == "must" %}
<P STYLE="COLOR: GREEN">A Must Watch!</P>
{% elif type == "should" %}
<P STYLE="COLOR: CYAN">You Should Watch This!</P>
{% elif type == "can" %}
<P STYLE="COLOR: ORANGE">You Can Skip This</P>
{% elif type == "shit" %}
<P STYLE="COLOR: RED">You Should Probably Skip This</P>
{% else %}
{{ raise("invalid type: " + type) }}
{% endif %}
{%- endmacro -%}

{% set s_number = "{:03d}".format(number) %}
{% set title = titles[number - 1] %}

{#
required vars:
- number: the episode number, 1-200
- my_rating: my rating out of 5
- skip: if this episode should be skipped or not.

series_id is defined by the review_table extension.
#}

<TD><SPAN>{{ s_number }}</SPAN></TD>
<TD>{{ title }}</TD>
<TD CLASS="WIDETABLE">
    {% if image_count|default(1) == 1 %}
    <IMG SRC="ep{{ s_number }}/preview.jpg">
    {% else %}

    <DIV CLASS="IMAGE-ROTATION-CONTAINER">
    <IMG SRC="ep{{ s_number }}/preview-0.jpg">
    {% for idx in range(image_count - 1) %}
    <IMG SRC="ep{{ s_number}}/preview-{{ idx + 1 }}.jpg" CLASS="HIDDEN">
    {% endfor %}
    </DIV>

    {% endif %}
</TD>
<TD CLASS="CENTRE WIDETABLE" data-rating="{{ my_rating }}">
    {% if my_rating >= 3 %}
    <B STYLE="COLOR: GREEN">My Rating</B>:<br/>
    {% else %}
    <B STYLE="COLOR: RED">My Rating</B>:<br/>
    {% endif %}
    {{ stars(my_rating) }}
</TD>

<TD>
    <details>
        <summary>Episode Synopsis</summary>
        {% block synopsis required %}{% endblock %}
    </details>
</TD>
<TD>
    <A CLASS="NORMAL" HREF="/reviews/{{ series_id }}/ep{{ s_number }}">Episode Review</A>
</TD>
<TD>
    {{ r_skip(skip) }}
</TD>
