{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 62 %}

{% block review %}
<p>
    I am coming back to do these reviews after a full two months hiatus. I was so offended by the
    break up arc that I put this on pause for two full months! It has nothing to do with my
    sudden onset brain disease where if I stopped working on some of my other projects I would
    quite literally instantly die.
</p>
<hr/>
<p>
    Anyway. This episode is about Ami. A focus episode already? Toei Animation, you're so generous!
    She's decided that she's going to fuck off to Germany for medical school (at the age of
    fourteen!), leaving the Sailor Senshis behind. This is really a one-two kick towards Usagi
    losing her paedo boyfriend and one of the Senshis that constantly bails her out two weeks
    in a row!
</p>
<p>
    Chibiusa exists. She's not a kid, apparently. She's too mature for ice cream! Such is the folly
    of childhood; you are NEVER too mature for ice cream! The Senshis decide to throw a going-away
    party for Ami, enabling her terrible decision. I'm sorry, Ami, but you're metaphysically cursed
    to not have a normal life anymore. Chibiusa still exists, and is still evil and scheming. She
    thinks Ami might have the Silver Crystal (I genuinely forgot this was still a plot point).
    The Senshis get an upgrade (?) with new transformation sticks. Yay! Everything is going very
    well.
</p>
<p>
    Okay. Both you and I know that Ami is not going to leave because this show goes on for another
    four years. So this episode doesn't really have any stakes or tension watching it
    thirty years later. We get the obvious parallels between Mamoru and Ami abandoning Usagi,
    complete with transposed voice clips of both characters telling Usagi they actually hate her!
    I still fucking hate the breakup arc but I admit that at least that was slightly well done.
    There's even a really silly scene where Usagi is in the foreground and a loving couple is
    in the background on a rowboat which is just so hammy it oveerflows to being funny again.
</p>
<hr/>
<p>
    This episode is just doing the Breakup Arc again but over the space of a single episode
    instead. Why? Why? Why? It's a shitty fucking arc anyway but we obviously know that Ami
    is not going to leave so the drama is entirely fake! The other Senshis are constantly talking
    themselves up about how they're actually supporting Ami going away despite there still clearly
    being an evil team around and losing one of the Senshis is a stupid idea. Why? Why?? This
    episode achieves nothing except making Usagi sad, it doesn't do anything for Ami's character,
    and it's nothing more than a condensed version of the overall R arc that is already terrible.
    Chibiusa exists too but doesn't actually do anything except be vaguely nefarious. I hate it!
    I hate it!!! 1/5!!!! And that one point is purely because it's funny how one of the cats
    gets frozen.
</p>
{% endblock %}
