{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 31 %}
{% set image_count = 2%}

{% block review %}
<p>
    Despite what I said in the last review, I absolutely <em>adore</em> this episode. It's one of
    my top 5 filler episodes in the entire show by far regardless of being in the magic colour diamonds
    arc. This episode is a Senshi focus episode, except instead of focusing on one of the humans; it
    focuses on Luna!
</p>
<hr/>
<p>
    This episode starts off with a masterpiece of visual and audio art, parodying Usagi and Mamoru's
    interactions except with Luna and this massive cat called "Rhett Butler". I really cannot
    possibly do it justice with a text explanation; you HAVE to watch the scene, especially within
    the context of the show so far, to enjoy it properly. But it's an exceptional example of the
    show's comedic prowess and a great example of how Sailor Moon makes filler work; I really doubt
    that this scene would've hit the same any earlier than about ten episodes ago. Out of my top
    five favourite moments in the show (which is one of them), three actually involve this kind of
    Tuxedo Mask parodying.
</p>
<p>
    It turns out that Tuxedo Cat is actually one of the magic colour diamond carriers! He's the
    first and only non-human carrier of the crystals, and then skedaddles as soon as he gets the
    Tuxedo Mask signal that Luna is once again in danger. I don't know what she did to piss off the
    rest of the cats in the neighbourhood, but I am absolutely 100% certain she deserved it. For a
    really fat cat, Rhett Butler is surprisingly agile - but that's yet another factor that adds to
    the sheer comedy of the situation, as is the immediately following scene where three of the
    Senshis try to squeeze down an alleyway all at once. Gay Jadeite doesn't even bother
    fighting them as they're completely unable to attack whilst pressed up against each other.
</p>
<p>
    The Senshis discuss on how such a small child happens to have a rainbow crystal whilst the
    camera ominously pans over the completely inert Moon Stick. Gay Jadeite discusses (to himself)
    how the "ugly" (kys) cat jumping down into the sewers has ruined his day whilst the scene is
    ominously dark - only to pan to him manhandling a swarm of rats. Rei (she still exists) is
    searching for Mamoru who is meant to be on a date with her, but stops in front of two
    conspicuous movie posters alongside the shrine's new apprentice.
</p>
<br/>
<img src="ep031-2.jpg" class="INLINE">
<br/>
<p>
    Back in the sewers, Luna tells the other cat to escape into a side panel that Gay Jadeite
    can't fit into, which Gay Jadeite promptly then fits into it with the wave of rats following.
    The Senshis finally realise that it was the cat that holds the rainbow crystal, and arrive on
    the scene to thwart Gay Jadeite (who is now wearing a cloak of rats) and his evil plan. Tuxedo
    Mask arrives and gayly steals the final rainbow crystal (he should fuck that twink to assert
    dominance) and then Gay Jadeite gayly chases after him too.
</p>
<hr/>
<p>
    This episode feels like an absolute flex on the direction side. Sure, the animation and visual
    fidelity is roughly average for the show, but the camera direction and general visual style
    is absolutely incredible here. The comedy is on point literally the entire episode - the
    general premise (a cat in love with Luna) is inherently funny and nearly every single scene
    has a great joke that lands perfectly. The ending to such an episode somehow manages to be
    have a bit of an emotional kick too.
</p>
<p>
    This episode gives a 5/5 for being absolutely hilarious from start to finish, as well as being
    one of the best directed episodes of the whole show visual wise. Despite being part of
    the magic colour diamonds arc, this episode is an absolute must-watch.
</p>
{% endblock %}
