{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 48 %}

{% block review %}
<p>
    It's rather jarring to have Moonlight Densetsu start immediately, rather than having a preview.
    I don't know if this is just the rip I'm watching or if R actually does move them to after
    Moonlight Densetsu, but I don't like it.
</p>
<p>
    Anyway, the Sailor Senshis return this episode. We've compressed Classic down from 33 episodes
    into two!
</p>
<hr/>
<p>
    After the events of last episode, Usagi has her memories back - including her now historical
    romance with Mamoru! She decides to assault him on the street, forgetting that he doesn't have
    his own memories back! He skedaddles after the girl alien also attempts to accost him - a very
    wise choice, in my opinion - setting up the conflicting romance for the first part of the
    series. The cats argue between themselves if they should bring back the other Senshis' memories,
    (or, more specifically, only Ami and Reis; did I mention this series is really just Classic Pt
    2?), with Usagi assuring them that she can absolutely be trusted to defend the Earth by herself.
</p>
{{ iimg("ep48-2.jpg") }}
<p>
    The aliens here need to steal energy from humans in order to let the Makai Tree live as it's
    dying on Earth, and decide that they need to do this in the most comically evil fashion rather
    than, like, siphoning a bunch of energy from some cows or something. The former inner Senshis
    (and also Naru) have all coincidentally been selected by a film studio to audition for the
    specific part of some sister character or whatever; and the aliens decide that instead of
    feeding on the studio producers they need to feed on the auditioning girls instead. That's
    a pretty contrived way of reintroducing the other Senshis, especially all at once! They
    introduce themselves to each-other and have some sort of sixth sense awakening about how they
    might already know eachother!
</p>
<p>
    The aliens reproduce their "ruined world" for the Senshis, which coincidentally looks identical
    to the ruined Moon Kingdom. They have the monster chase the girls around, Luna turns them
    back into Senshis, the monster dies, and so on. It's predictable and by the books. Thus,
    Classic's ending is now essentially undone with the show reverting to the status quo as of
    approximately episode thirty-seven (although, this time Mamoru is just MIA rather than evil).
    We also have a slightly different set of sound effects for Prism Make Up, which sound a lot
    better than the old sound effects! I wonder why they've changed them...
</p>
<hr/>
<p>
    The plot of this episode is insanely contrived in order to reintroduce the inner Senshis as
    quickly as possible (also Naru is there too). The aliens are acting nefarious for the sake of
    being evil; their motivation is to survive, but they still deliberately pass up knocking some
    guys out and eating their energy instead. A more sympathetic reviewer might make the comparison
    between the aliens and the Senshis both being fish out of water after the ending to the last
    series, but the aliens are just being sadistic here. I give it a 3/5 for being entertaining
    if otherwise entirely predictable. Also I'm a sucker for any episodes with group
    transformations.
</p>
{% endblock %}
