{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 47 %}

{% block review %}
<p>
    Doom tree. Doom tree. Doom tree. I must keep repeating this phrase to myself over and over
    and over because it is a ridiculous phrase. Doom tree. Doom fucking tree!
</p>
<p>
    Welcome to Sailor Moon R! The R in this case stands for Romance. It's split into two arcs;
    the Doom Tree arc, which is an anime original arc that allows the manga to catch up and also
    to undo Classic's dramatic ending; and the Black Moon arc which is the "official" storyline
    (not that the 90s anime really sticks with it that well anyway). Yes, despite all the padding
    and filler in Classic the show STILL needed a full seasons worth of padding in order for the
    storyline to actually catch up.
</p>
<p>
    I am not 100% certain, but I am pretty sure you can skip this entire arc as long as you know
    that Classic's ending is undone immediately and everyone returns to being a Senshi/Tuxedo Mask
    by episode 14. As such, I'm not going to mark any of these episodes as mandatory except two
    because beyond knowing that the series essentially picks back up in episode fourteen as if
    the Classic ending never really happened beyond Usagi defeating Metalia there's no real reason
    to watch this arc if you don't care about all the filler. Nevertheless, I actually really like
    the Makai Tree arc and I would recommend watching it anyway! Especially because your mind is
    going to be rotted by the Dark Moon arc.
</p>
<hr/>
{{ iimg("ep47-2.jpg") }}
<p>
    It's a new Moonlight Densetsu! Visually-wise anyway; we don't get the new audio for another year
    or so. This episode starts off a lot like the pilot, with Usagi (now a normal girl) having lost
    her memories and all her friends as a result of the wish she made at the end of last episode.
    She's late for school and is sent out into the corridor, much like the pilot episode. Ami is
    introduced immediately to symphasize with Usagi. But then... something crashes into Juban from
    space! It's a gross space seed! All five senshis somehow turn up at the crater... and Mamoru is
    there (and Usagi remembers him somehow?). We finally meet the new enemies, who are aliens, and
    they're talking about human energy! And they're attending Usagi's school! If only Jadeite wasn't
    locked in a crystal somewhere in the arctic; this seems like it would be right up his alley!
</p>
{{ iimg("ep47-3.jpg") }}
<p>
    I love how comically tall the male alien is here compared to the other humans. Both of them
    immediately fall in love with humans despite allegedly being devoted to eachother; with the
    male alien falling for Usagi and the female alien falling for Mamoru - which pisses them both
    off as they're meant to be partners (although posing as siblings at school). The actual design
    for the Doom Tree is startlingly similar to the Dark Kingdom too... On a side note, R's eyecatch
    is the only one in the whole show that differs between the two. The first one is one of the
    worst and the second one is the best in the whole show, although that's not saying much as most
    of the Sailor Moon eyecatches were particularly terrible. The Aliens' plan is to extract the
    life energy of humans to keep the Doom Tree alive, with Cardians replacing the Youma as the
    monster-of-the-week (yes, the monster of the week type changes between all the series).
</p>
<p>
    Like the pilot, the first Cardian targets Naru (with Luna even lampshading how often she gets
    targeted) before the cats try to take it out, only to fail and have to restore Usagi to the
    title of Sailor Moon! She regains her memories and relives the trauma of the events that
    transpired at the Arctic - which is.. uh.. never really given the respect it deserves? This
    episode aired literally one week after the finale (1993-03-06, one week after 1993-02-27), so
    there's not been any chance to really grapple with any of the consequences yet and it's not
    properly touched upon again. Additionally, her voice acting is notably different here for some
    reason. I guess Sailor Moon finished production a long time before R aired, and Usagi's voice
    actor changed her acting over the course of the break. However, unlike the pilot, we don't get
    Tuxedo Mask to come in to save the day...
</p>
<hr/>
<p>
    After rewatching this I can remember why I didn't like this arc initially - it's just Classic,
    attempt number two! This episode feels virtually identical plot-beat wise to the pilot,
    although this time we see the civilian Senshis about half a year early and we have a good idea
    of who is who. I guess that changes things a bit? Anyway, I give this episode a 4/5 simply
    because it does what the first episode does well enough again, but minus a point for just
    being the same episode essentially.
</p>
{% endblock %}