{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 56 %}

{% block review %}
<p>
    HEY. REMEMBER HOW THE ALIENS ARE IN LOVE WITH EACHOTHER? THEY'RE PERFECT PARTNERS! THEY'RE
    SO-O-UL MATES! THEY'RE LITERALLY COSMICALLY CHOSEN PARTNERS! <STRONG>WELL THE ALIENS SURE FUCKING DON'T!</STRONG>
</p>
<p>
    I HATE it. I DETEST that these aliens cannot stop lusting over Usagi/Mamoru instead of themselves.
    I very very vaguely remember that this might play a part in the last episode of the arc, but
    I don't actually know if that's the case. I also don't care! This arc is so unnecessary!
    This stupid fucking love triangle adds absolutely nothing to the series! It's insulting how
    stupid it is, too! I can tolerate the regular series filler because at least they try and
    build up to something but this arc is irredeemable. At least make the filler novel or
    interesting! But we can't have that because it's literally just Classic 2 with a fucking
    love triangle shoved in! At least the love triangle in Classic 1 was one-sided from Usagi/Rei
    towards Mamoru, and not having Mamoru constantly try to eat some random girl's face off at
    the same time! It wouldn't even be so intolerable if the aliens didn't immediately fucking lie
    to eachothers face about it!
</p>
<hr/>
<p>
    Otherwise this is a stupid filler episode. It has a breast joke! These girls are 14 and the
    target audience is like 8 years old. It has multiple instances of said joke, actually. I like
    how Usagi arrives on the scene from the elevator. It's a funny bit of animation. Otherwise,
    0.5/5 for being MAKAI TREE PLEASE END MY SUFFERING
</p>
{% endblock %}
