{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 41 %}

{% block review %}
<p>
    This episode is like filler squared; bringing back the magical colour diamonds (a filler arc)
    in a filler episode! It's also Ami's focus episode in this second round, so it makes some sense
    to reuse her previous side character for it. I remember this episode surprisingly well actually!
</p>
<hr/>
<p>
    We start off in Africa, with Mamoru approaching Reika (Motoki's girlfriend, in case you
    forgot her) and reviving the evil monster stored within, storing her within Gay Jadeite's
    crystal; this is actually the third monster he's gathered. Ryo - the precognitive esper from
    Ami's last episode - calls her to let everyone know that the Dark Kingdom is gathering the
    seven monsters up again for nefarious purposes.
</p>
{{ iimg("ep41-2.jpg") }}
<p>
    A small diversion from the plot to say that the art direction here is brilliant. This episode
    aired at the beginning of January, and despite the general desynchronisation between Sailor
    Moon's year and the real world year this episode is a snowy wintery episode. Unlike the last
    cold episode, the snow is drawn using flat whites and the sky is dark and gloomy, which
    contrasts well with the regular turquoises and purples of the show's overall artstyle for all
    the other scenery and doesn't make everything look like it's made out of ice. Whilst the Juban
    District always looks like its in a state of perpetual summer - which I am a fan of! - it does
    show that the art directors can effectively use the weather for mood setting when they need to.
</p>
{{ iimg("ep41-3.jpg") }}
<p>
    It turns out that the seven evil monsters can be united into a single great monster that is
    allegedly the most powerful monster of all time, but Kunzite is mad as per usual about the
    task being assigned to Mamoru and not him. Mako and Ami are diverted to protect the esper,
    whilst Rei, Usagi, and Minako are to protect Rei's grandfather. Mamoru's voice actor is
    absolutely putting in the work the character deserves here, as he absolutely sounds evil -
    the type of calm and collected evil that is absolutely terrifying (I have more to say on this
    elsewhere, but that's for R and Stars.)
</p>
{{ iimg("ep41-4.jpg") }}
<p>
    Mamoru traps Mako and Ami in an alley, but Ami runs away to protect Ryo and Mako tries to fight
    back against Mamoru, but completely fails due to the sheer power difference. This is actually
    the first direct fight against a real enemy (and not just a random monster) so far, with Mako
    and Mamoru actually trying to exchange blows. Except, yet again, Mamoru refuses to actually
    attack Mako instead under the guise of "she's not strong enough" - an obvious lie to everyone
    including the audience. He's yet again unable to truly admit that he doesn't want to hurt the
    Senshis - because he doesn't know why! Mamoru confronts Ami and Ryo in a theme parc, where
    Ami tries then to fight Mamoru using her really downright terrible attack that obviously
    wasn't going to work. It's actually insulting how pathetic her attack is and also insulting
    that the writers even had her try using it offensively instead of the distraction that she's
    meant to. Usagi then tries to Refresh! Mamoru using the moon stick, but of course he immediately
    gets stolen back. We've still got five episodes to go!
</p>
<hr/>
<p>
    Part of the plot in this episode is Mako scolding Ami for not being "open to love", or
    whatever, which really just doesn't work at all. She's fourteen and focused on her studies!
    She barely even has complex emotions as shown so far other than "smart"! Maybe you should've
    tried doing this plot after giving her more than two focus episodes and some actual character
    traits instead! I would give this episode a 3.5/5 for being watchable and for being pretty,
    but I bump it up to a 4/5 for Mamoru's refresh scene as I liked it.
</p>
{% endblock %}
