{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 53 %}

{% block review %}
<p>
    We've got you surrounded! Come enjoy your Usagi/Mamoru episode!
</p>
<p>
    I'M A SEIYA/USAGI SHIPPER! I'M A SEIYA/USAGI SHIPPER!
</p>
<hr/>
<p>
    When I think about babies, their most famous characteristic - the one that IMMEDIATELY comes to
    mind - is their energy! They never sleep at all! They run around like lunatics! They are
    practically molten balls of carbon! I totally agree with the aliens that trying to get harvest
    energy from human babies is a worthwhile tactic! At least this time we're absolutely not waiting
    as the aliens start siphoning the baby energy off immediately, presumably killing everyone at
    the nursery. Except one got spared! And Mamoru is here for some reason! I sure do wonder if
    they're going to have to babysit this baby whilst the mother recovers! Mamoru and Usagi!
    Apparently it's okay to just give a baby to some random strangers in Japanese hospitals.
    Social workers? I've never heard of them!
</p>
<hr/>
<p>
    I don't care. This episode plays out exactly as the title says. I hate babies.
    I hate cartoon babies. I hate Makai Tree. This episode hurts my ears! 0.5/5. There's absolutely
    nothing of worth around Usagi and Mamoru's relationship as he doesn't remember her, which we've
    already done in Classic! ALSO ANIMATED BABY PENIS. Worthless episode.
</p>
{% endblock %}
