{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 14 %}

{% block review %}
<p>
    With Jadeite gone, we need a new seasonal villain. Introducing: Nephrite! If you couldn't tell,
    all the Classic villains are named after rocks. Nephrite differs from Jadeitte in that he
    focuses on individual people to steal their energy as opposed mass energy gathering. I don't
    know about you but that sounds like a pretty inefficient strategy to me. Also he's an
    astrologist and lives in a creepy mansion in the sky for some reason.
</p>
<p>
    There's also a brief appearance of Evil Gay Jadeite... but we'll get to that in the latter half
    of the season.
</p>
<br/>
<p>
    The episode starts off with Nephrite using the stars to divine who is going to be his victim
    this week. Sailor Moon, being a magical girl show in the 90s, leans on a lot of this kind
    of stuff throughout the show, especially in Classic/R/SuperS which are very fantastical esque
    series (as opposed to S/Stars which are more modernist and sci-fi feeling), and it ends up
    feeling rather cute and whimsical as opposed to if a show was to lean on that now.
</p>
<p>
    Nephrite disguises himself as a <span style="s">fascist</span> small business entrepreneur, and
    all the girls flock to him as he turns up on a tennis court that Usagi and Naru are watching.
    He does a pretty impressive bit of tennis (sorry, I don't know the terminology) against a famous
    tennis player, breaking her wrist, and then uses the opportunity to curse her tennis racket to
    let her cheat.
</p>
<p>
    We then get some exposition dump out of nowhere with the cats, who tells the Senshis, and thus
    they commit to trying tennis to train up (and also to get closer to Nephrite-in-disguise, the
    "hot" tennis coach). There's a very funny scene right after where the now-evil tennis player
    breaks her opponent's racket and stomps on it like some shitty movie villain.
</p>
<p>
    Naru has an unusual focus this episode, too, given that she immediately got sidelined as
    Usagi's Friend by the other senshis when they were introduced. This is just to set up her
    special arc over the next ten episodes, and also crowns her as somehow the only person in this
    entire show thus far who has recognised anyone acting unusually evil before they starting
    <span style="s">murdering</span> stealing human energy.
</p>
<br/>
<p>
    This episode, and Nephrite's segment overall, is where Sailor Moon's filler starts to shift away
    from just a Monster-of-the-Week and into focusing on the side character of the week. Sure, we
    had a few of these before, e.g. focusing on Usagi's brother, but it's a lot more constant for
    the rest of the show. The tennis monster battle is also a good early example of the shift into
    more comedic monster battles, too - something the later series have an exceptionally strong
    focus on.
</p>
<br/>
<p>
    Overall, I give this episode a 4/5. It's formulaic filler, sure, but it's a fun funny episode
    that really cements the shift in the show's tone. I'm also marking it as mandatory due to the
    small amount of info-dumping at the start, and part of Tuxedo Mask's development happens here
    too.
</p>
{% endblock %}