{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 28 %}

{% block review %}
<p>
    The primary reason I remember this episode is because of the aesthetic choices in it, rather
    than the actual plot. Anyway, this episode continues the underlying Tuxedo Mask plot arc of
    the magic colour diamonds section of the anime.
</p>
<hr/>
<p>
    We start off with a quick summary of the magic colour diamonds - one for team Evil, one for
    team Tuxedo, and one for team Sailor. Queen Beryl wastes absolutely no time in threatening to
    kill Gay Jadeite if he loses another diamond, similar to her (empty) threats to Nephrite.
    We get a nice Hanna-Barbera animation moment with the moon stick conspicuously sticking out of
    Usagi's bag, which it is obviously going to fall out of. On a side note, I'm almost 100% certain
    that this episode concept is reused in Sailor Stars four years later - down to most of the
    details.
</p>
<p>
    The side character of the week is a painter character who's magic colour diamond causes her to
    make prophetic (?) paintings of the Silver Millennium, involving Usagi and Mamoru who she
    recognises on the streets as the subjects of her art. The tension between Mamoru and Usagi is
    pretty funny - even though it's been the same joke this many episodes in, as we know very clearly
    that Mamoru is Tuxedo Mask now the humour shifts from plain slapstick to ironic where Usagi
    hates Mamoru but loves Tuxedo Mask. Mamoru is a complete and total cunt to the
    painter for essentially no reason here before realising that the artwork is consistent with his
    recurring dream making him look like quite the fool. Everyone in this room seems to understand
    something is wrong with the painting, but none of them really understand why.
</p>
<p>
    Luna reappears to chide Usagi for dropping the Moon Stick, then chides her for being stupid,
    and then just claims she was "saying it as it is" like a fucking redditor or mum group
    facebooker. Luna is an insufferable arsehole for most of Classic - doubly so when Artemis
    gets on the scene - and she deserves every single punt she gets. At least she's accurate to how
    a talking cat would actually talk to you. The main battle moves away from the painter's house
    to the most logical location - a construction site. I remember this episode very fondly for the
    fight scene here, with the building site coloured in the vivid turquoise-purple palette that
    Classic is known for.
</p>
<hr/>
<p>
    Plot-wise, this episode packs a LOT into the twenty minutes its provided. We finally get some
    concrete information about Tuxedo Mask and his relationship to Usagi and we get some tidbits of
    information about the Silver Millennium too. The side character is interesting, and her problems
    and resolutions (hiding away) is pretty cute too. I give this episode a 4/5.
</p>
{% endblock %}
