{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 3 %}

{% block review %}
<p>
    Despite the title, this episode is not about trypanosomiasis, but about a mysterious radio
    show that causes lovesick teenage girls (and lovesick teachers) to be really sleepy. This
    episode also marks the first proper appearance of Jadeite (the man) as the
    Villain-Of-The-Season, disguised as the extremely creative J. Daite.
</p>
<p>
    This kind of inoffensive filler episode is the heart and soul of Sailor Moon. No, nothing
    important really happens here, but the episode is incredibly enjoyable - and these padding
    episodes make the significant episodes feel way more meaningful in the end. It has an
    interesting message that resonates well with the target audience, unlike last episode.
</p>
<br/>
<p>
    This episode marks the first appearance of Usagi's disguise pen; a device that feels
    criminally underused throughout the whole show, as it appears in only a handful of Classic
    episodes and then never again.
</p>
<p>
    I do feel like it's a shame that Luna's ability to create these useful gadgets is never
    really used properly in the show after this. Whilst her first power is given to her by Luna,
    her subsequent powers are then given to her by, in order: herself, Tuxedo Mask, some cup, a
    paedophile, herself again, and the literal Universe.
</p>
<p>
    It also marks the first real sign of Usagi's attraction to Tuxedo Mask/Mamoru, with the very
    obvious foreshadowing of her walking into Mamoru whilst talking about her future boyfriend...
</p>
<br/>
<p>
    The animation in this episode is hilariously terrible at places, though. The bit of
    Jadeite walking is literally just a cel of his face moving around the frame a bunch,
    presumably to avoid animating his walk cycle.
</p>
<br/>
<p>
    Overall, this episode is an example of filler done right - it's a fun, interesting episode
    with some key foreshadowing to the future of the series. I give it a 3.5/5.
</p>
{% endblock %}