{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 51 %}
{% block review_image %}
{{ iimg("preview-2.jpg") }}
{% endblock %}

{% block review %}
<p>
    <strong style="font-size: 200%; color: yellow" class="CENTRE">MOON CRYSTAL POWER, MAKE UP!</strong>
</p>
<p>
    At long last. It has been fifty episodes. I have had to sit through Moon Midsm Power for fifty
    episodes. Usagi is finally getting her transformation upgrade! This is either the fourth or
    fifth best transformation in the whole series, and definitely Usagi's 2nd/3rd best
    transformation (I'll update this when I get back to Stars). Unfortunately, her new attack sucks
    and is one of the worst in the whole show, even worse than Moon Tiara Action which I also hate.
</p>
<hr/>
<p>
    The main focus of this episode is Usagi's power up, using the Silver Crystal to transform, after
    Luna's transformation brooch that she gained in the first episode is destroyed by the Cardian.
    This ups the ante a bunch, making it clear that the Cardians (and then the Black Moon Clan,
    later) is more powerful than the Dark Kingdom last time. Whilst Makai Tree still sucks and is
    still Classic, at least we get a very clear shonen-esque power level jump. This episode also has
    Naru, Umino and Usagi's teacher too, in case you forgot they existed (hopefully you did!). It
    also finally caps off the lore of the previous Moon Kingdom by having Queen Serenity give Usagi
    her new powerup from beyond the grave.
</p>
<hr/>
<p>
    Unfortunately, this episode has nothing else to offer other than the new upgrade and the
    animation. The animation here is Stars finale-level, with the characters being drawn really
    well and the actual animation itself being really fluid and complementing the various comedic
    bits. The plot of the episode is relatively empty but the emotional beats are done relatively
    fine. Otherwise, it's a 3/5 episode in every other respect.
</p>
{% endblock %}
