{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 26 %}

{% block review %}
<p>
    This is the first of Sailor Moon's several christianity episodes. I don't remember anything as
    much about this one as I do about the one in Stars, but it is interesting that Sailor Moon has
    multiple episode for it.
</p>
<hr>
<p>
    After an extra episode, the show suddenly remembers where we left off with Nephrite, with an
    episode focusing around Naru and the aftermath of his death. Except, we start off with Mamoru
    having the same recurring dream about Princess Serenity and Tuxedo Mask (which provides us with
    absolutely no new information), and then ruminates on if he is Tuxedo Mask (obviously, yes).
    Zoisite shows up and uses the black soul gem to divine the location of the next
    Monster-of-the-Week: a priest?
</p>
<p>
    Naru is too depressed over her dead paedophile SS officer boyfriend to come to school anymore,
    so Usagi and Umino visit her, and Umino manages to unintentionally say the worst possible things
    ever causing Naru to get the "I'm really gonna do it this time" suicidal second wind. We
    get a SECOND explanation of the Seven Great Monsters (so great that they got put in gay baby
    jail again!) and that Gay Jadeite is trying to extract them to get the mystical Silver Crystal.
    I feel like this should have been brought up around twenty five episodes ago! The other senshis
    shit talk her for being a stupid dumb idiot who can't handle the responsibility of the Moon
    Stick, then berate her for not being at their meeting because it's really important (except they
    didn't tell her it's important yet!)
</p>
<p>
    Naru meditates on how Nephrite doesn't have a grave because he fucking disappeared into the
    ether then imitates her dead idol by also disappearing. It appears Naru really has a thing for
    paedophiles, as she consults a priest for advice on how to deal with Nephrite dying.
    <br/>
    Okay, this next bit has got to be the dumbest joke in the entire show thus far. The priest says
    to her that the next time she turns around, she will find love - she turns around, and
    Gay Jadeite is there; cue flashback to him killing Nephrite. This feels actually genuinely
    offensive to put in your episode trying to deal with the aftermath of what was meant to be the
    most serious emotional moment in the show thus far. You may be thinking "oh, they didn't mean
    to make it comedic" - but just trust me, if you watch the episode you can immediately tell
    that was set up as a joke.
</p>
<p>
    It turns out the Moon Stick works as a GPS tracker for the various parts of the silver crystal
    - again, something that would have been really useful about 25 episodes ago! Gay Jadeite turns
    the priest into a modern day english-speaking Boxxy, suggesting that the seven great monsters
    were killed some time in the last hundred years (which conflicts with later lore). I am reminded
    once again of how much I hate the first Moon Healing Escalation; it's Usagi's worst attack in
    the entire show, even worse than her terrible SuperS attack that I despise (although I primarily
    hate that because it's SuperS).
</p>
<br/>
<p>
    This episode sucks, man. We pick up the Nephrite/Naru plotline after an episode off only to
    spend essentially zero time on it in favour of re-explaining the magic colour diamonds instead.
    Naru realises that Umino exists and now they are lovers forever and ever and are now On The Bus.
    I think she makes a few subsequent appearances but the writers essentially discarded her character
    last episode and hastily added an ending to the previous arc so that we can all move on with our
    lives.
</p>
<p>
    The side-character-of-the-week also essentially has nothing to do here; he exists to get turned
    into a monster immediately and then do some Jesus shit after getting healed. Lame! I give this
    episode a 1/5 for pissing away any potential left that the Nephrite/Naru arc had by hastily
    shoving her out of the way, and for not even trying with the priest this time. It's unfortunate
    that the magic colour diamond episodes are all mandatory, as this is utterly skippable
    otherwise.
</p>
{% endblock %}
