{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 59 %}

{% block review %}
<p>
    No intro today. We pick up directly from the last episode here with no preview, but a voice
    over from the inner Senshis about the nature of love. Mars decides that the Makai tree is an
    intelligent being and that they can't attack it (yet they've been fine with Monster Genocide
    for the last year anyway). The Makai Tree has a minor case of borderline personality disorder,
    at first letting the inners into the inner tree sanctum before trying to kill them randomly.
    The aliens also a bit of BPD too, debating over if they really do love Usagi/Mamoru after it
    turns out that they love eachother (I guess?). Eventually it turns out that the tree is
    energised by the aliens love for eachother and that the Moonlight Knight is a manifestation of
    Mamoru's love for Usagi in his subconscious. Or something related.
</p>
<hr/>
<p>
    The Makai Tree arc is a bad arc with confusing morals and a lot of wasted episodes. The love
    triangle ultimately leads to the aliens realising that their love for eachother is more
    important, but it's very stupid that we spent eleven episodes on this will-they-wont-they
    attitude to eachother and to Usagi/Mamoru. Reverting back to the status quo of classic killed
    this arc straight at birth, having to revisit and rebuild the relationship between the
    characters again. The aliens were almost complex characters last episode, but that was killed
    by them becoming straight-up evil again for a little while after finding out that their side
    flings never actually liked them.
</p>
<p>
    The filler ranges from mediocre to terrible, and out of the two plot-related episodes one is
    fine and the second is boring and cliché that just retreads the plot of the last episode of
    Classic. It definitely fits with the series' theme of "Romance" but it's just boring and
    annoying to watch instead. This episode has emotional whiplash between the Power of Love
    subplots and the aliens reverting to being comically evil. The inner Senshis are
    completely useless other than to get beaten and to stand there monologuing (this fits pretty
    well for any given Sailor Moon series finale, mind, but it's still stupid). The sentient tree
    is really stupid, with the whole "yeah turns out love is important but I had to fucking kill
    a million people to do it". They could've developed this differently, with the tree actually
    having some restraint or SOMETHING more interesting but instead it is simply evil until suddenly
    it isn't.
</p>
<p>
    Overall, this arc is a complete waste of time. There's no point watching it as long as you know
    that the last episode of classic is completely undone at the start; you can jump straight to
    episode 60/14 with the Black Moon arc instead. This episode is mediocre and tonally all over
    the place and serves as an especially bad ending to the arc. I give it a 2/5, with the two
    points being mostly carried by the animation and the previous episode instead.
</p>
{% endblock %}
