{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 57 %}

{% block review %}
<p>
    Recently, I've been putting off writing these reviews. It's strange, as I did all of classic in
    a few weeks - but I've done about 10 episodes since the new year. Part of it is that my hands
    are prone to hurting a bunch if I write too much, and part of it is that I just dread having
    to write about these episodes that I hate. But, nevertheless, I will continue as I love S and
    Stars just too much. Even if it means  suffering through the entirety of Makai Tree and the Black Moon arc again!
</p>
<hr/>
<p>
    Fuck me this episode starts with a fucking strobe light effect. I had to actually stop writing
    the intro to mention this. Anyway. This episode is a great example of teacher brutality where
    Usagi (and the girl alien) are punished primarily because their teacher had a date cancelled.
    During the detention, Usagi and the girl alien fight over Mamoru again - I have mentioned before
    just how much I detest this love triangle, so no need to repeat the expletives - and decide
    that the best way to settle it is with a... English lesson fight? Why? Why not just leave?
    (The real answer is episode padding.)
</p>
<p>
    The cardian this time is one that's allegedly a lot stronger in order to beat the senshis -
    which makes you think, why not use it earlier? The victim here is meant to be Mamoru but the
    cardian ignores Long Tall and Handsome's orders and conveniently attacks Ami's cram school
    instead. There's an annoying overuse of the "dramatic" music with the electric guitar noise
    too, with it restarting about five times in one segment. The fight between the inners and the
    Cardian is also a neat showcase of ALL of their upgraded moves.
</p>
<br/>
<p>
    Somehow, I like this episode. It may be Makai Tree, but it shows that if you remove the stupid
    angst between the two aliens by just separating them you can get a decent enough episode out
    of the mix. The physical comedy is fun, the comedy between the girl alien and Usagi is decent
    enough, the Cardian disobeying made it a more interesting episode than normal. I give it
    a 3.5/5, with .5 docked for being a Makai Tree episode.
</p>
<p>
    Also, quote of the day:
</p>
{{ iimg("ep057-2.jpg") }}
{% endblock %}
