{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 19 %}

{% block review %}
<p>
    The first thing I thought about this episode when I started it was: "Is this the Drunk Usagi
    one?" It is not the Drunk Usagi one. I don't remember this one.
</p>
<p>
    This episode starts with Nephrite trying to divine Sailor Moon's weakness, which is a pretty
    good step up from Jadeite by trying to eliminate her relatively early. Then we get a nice little
    clip show recap of Tuxedo Mask, presumably to save some animation budget, and some more Gay
    Jadeite action. Queen Beryl threatens to kill Nephrite a good few episodes earlier than Jadeite
    was, which is another good step.
</p>
<p>
    Usagi receives a letter alleging to be from Tuxedo Mask, who is in love with her, and Usagi
    isn't smart enough to figure out it's a catfish until the next day when it turns out everyone
    got the same letter. I like how the subtitles here refer to Tuxedo Mask with a capitalised He,
    as if he's a deity. Mamoru takes absolutely no time to tear into Usagi for being a stupid
    idiot in love, for good measure.
</p>
<p>
    We cut to a scene in the museum, where Naru asks Nephrite if he's Tuxedo Mask (what?), which
    then makes Nephrite think that Naru is Sailor Moon (what???), showing that Tokyo clearly has
    some sort of poison in the water that causes face blindness within its citizens. This also
    sets up the Naru/Nephrite romance arc which will play out over the next six or so episodes.
    Naru then realises that it's really Nephrite based on her voice, which elevates her power
    level significantly being the only person in the ENTIRE SHOW with working hearing.
</p>
<br/>
<p>
    THis episode finally explicitly spells it out that Mamoru is Tuxedo Mask, and finally actually
    shows how his personal transformation is achieved - rather lamely if you ask me. We also get an
    actual confrontation between Nephrite and Usagi, much earlier than Jadeite. I quite like
    Nephrite as a villain - ignoring his weird paedophilia - as he's much more effective at
    directly trying to eliminate the Senshis. I'm glad they're finally starting to do something with
    Tuxedo Mask and developing him more for his eventual role at the end of the season too. His
    silly "let's talk about something do distract us" whilst Usagi is dangling over a hundred metre
    drop is stupid though.
</p>
<br/>
<p>
    Overall, I give this episode a 4/5 for being very enjoyable, as well as starting to hint at
    the eventual arcs of both the villain and the main characters.
</p>
{% endblock %}