{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 23 %}

{% block review %}
<p>
    When I first watched this episode, it was on a VHS rip with possibly the worst quality of all
    time, so much so that I had to skip it due to the sound cutting out halfway through. This means
    that this rewatch is a personal first for me! This episode begins the conclusion of Nephrite's
    short-lived tenure as seasonal villain, to be replaced by Gay Jadeite (Zoisite) in a few
    episodes time, which is a shame as I really did quite like Nephrite.
</p>
<br/>
<p>
    We start off with Naru explaining that "age means nothing if it's love", which is really just
    a fantastic start to the episode. This show had it absolutely out for any sort of healthy
    relationship, with the only ones that aren't weird and stupid being Haruka/Michiru and
    Seiya/Usagi - no surprise then that they come from the best two series in the show. Nephrite
    gets threatened by Gay Jadeite that Queen Beryl is gonna kill him, so he resolves instead to
    try and find the Silver Crystal directly to avoid that. He does this by spawning a black soul
    gem to soul trap Naru in to lure out the silver crystal, which is a really good plan.
</p>
<p>
    Cut to some hot T4T Evil Gays action, with Gay Jadeite rubbing his head affectionately on
    Turquoise Daddy. This is the highlight of the episode to me and I'm not sure I really care
    about anything else after this. Usagi goes to the arcade to talk to Motoki and Mamoru about
    Naru's relationship, who very helpfully give her conflicting advice (and Motoki folds instantly
    like the bitch he is). I think Motoki and Mamoru should fuck. Just saying.
</p>
<p>
    Usagi gets the courage to go tell Naru that Nephrite is an SS officer, and in true Usagi
    fashion just fucks off immediately which Luna calls her out on for being so useless. Naru acts
    100% rationally and decides that he may be a nazi, but he's a damn good looking nazi, so it
    doesn't really matter. Nephrite then calls her up to ask her to meet him in the murder park
    whilst a Jaws-level orchestral hit starts playing, and eventually gets her to steal the
    "silver crystal" from her mother's jewellery shop. Usagi then ends up confronting Nephrite
    in the park... but when Usagi goes to attack, Naru jumps in front!
</p>
<hr/>
<p>
    Whilst Nephrite emotionally manipulates Naru into stealing the "silver crystal", we get this
    shot of moths being attracted to and eventually being killed by a fly trap, then a nicely
    animated shot of Usagi and Luna searching the town whilst semi-transparent. Despite being an
    Ando episode, this part is animated really well! The blue/black and white segment near the end
    is also a surprisingly artistic style choice for a Sailor Moon episode of all things. I'm
    impressed. Unfortunately, the rest of the animation is in the typical horrific Ando art style.
</p>
<p>
    On one hand, the plot of this episode is absolutely predictable all the way to the very end.
    On the other hand, Nephrite shows a lot more emotional complexity than Jadeite ever did; he
    shows a desire to get closer to his victims and manipulate them to gather their energy rather
    than just showing up and being evil for the sake of being evil.
</p>
<p>
    I give this episode a 3.5/5... now to see what the next half of this essentially a two parter
    holds.
</p>
{% endblock %}