{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 61 %}

{% block review %}
<p>
    I do sometimes genuinely wonder if the producers of R secretly hated the show. I cannot think of
    a reason other than that (well, there's also incompetence, but I choose to believe otherwise)
    for the absolutely baffling narrative and character choices made throughout the series.
</p>
<p>
    Anyway, after literally one (1) episode of throwing Red Meat to the Usagi/Mamoru shippers, the
    show immediately separates them with Mamoru declaring a break-up. The reason for this is unknown
    right now, but I can assure you - it is insanely fucking stupid.
</p>
<hr/>
<p>
    It feels cosmically cruel to open the episode with Usagi and Mamoru running into eachother, and
    declaring that they are "bound by fate, no matter what they do". On the other hand, Chibiusa
    is missing (hooray!) so maybe this episode and subplot isn't really that bad (but they find her
    again instantly so nevermind). The rivalry between Usagi and Chibiusa over Mamoru's love also
    begins here: "I fucking love how Chibiusa is competing with Usagi for the romance of her own
    father" says absolutely nobody ever.
</p>
<hr/>
<p>
    The animation in this episode is brilliant. Maybe it's because I took a break from watching
    recently, but it feels especially full of life today and it has the typical beautiful Sailor
    Moon colour scheme. That's the only positive thing I have to say about this episode, though,
    as the plot sucks! The sudden breakup after about a week of real time is stupid! Mamoru is
    stupid! Chibiusa is stupid! This is not very productive criticism, but everything about this
    is just stupid! This subplot is so unnecessary! It's a pointless subplot in a season with a
    endless character assassination but it's completely out of character for Mamoru who's meant to
    be the noble type! The characters even fucking lampshade this in episode!
</p>
<p>
    I do not care about anything here other than the quality of the visuals, and maybe the music. The
    one scene when Usagi confronts Mamoru is pretty heartbreaking with the piano adding to the scene
    brilliantly, but it's STILL a stupid subplot and I *know* it's a stupid subplot so for me it
    undermines it completely. Fuck you, whoever came up with this. You could've at least
    waited like six episodes! 1/5, with that 1 point coming entirely from the presentation
    rather than the content.
</p>
{% endblock %}
