{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 30 %}

{% block review %}
<p>
    The rainbow crystal arc really, really, really, <em>really</em> grates on me. As I've said
    repeatedly before, I like filler! Filler is the heart and soul of Sailor Moon. But there is
    such a thing as <em>too much</em> filler.
</p>
<p>
    This is what the rainbow crystal arc is to me. It's eight weeks worth of too much filler. Even
    if all eight episodes were good it would be too much. See, the problem is that they start a
    padding arc well over halfway into the show, where essentially nothing much has happened
    except for the awakening of four Senshis. I can understand why they did it, as the manga needs
    to catch up with the show before the big final arcs. (It never really does catch up, though,
    hence the Doom Tree arc).
</p>
<p>
    But, ignoring the real world constraints, the rainbow crystal arc feels completely unnecessary
    to me. There's literally no reason we couldn't've done this across Jadeite and Nephrite's arcs
    - which are now essentially pointless in retrospect - instead of punting it across the halfway
    episodes. Each Senshi gets a focus episode here but that's nothing that couldn't've been done
    at the START of the show instead of the other filler episodes.
</p>
<p>
    If there was eight <strong>solidly good</strong> episodes in this run, maybe it would be more
    acceptable - but that's not the case; a few of them are instead really mediocre and quite boring
    to watch through. Make getting the first four rainbow crystals spread out across the previous
    arcs to make them actually having lasting impact, and then put four episodes into padding
    here instead. That way you can keep the extra padding to let the manga catch up but without
    the slog of having to sit through this arc for two months!
</p>
<hr/>
<p>
    As for the episode itself; it's mediocre and skippable. The only thing of note is that Rei's
    shrine gets a new apprentice, her grandfather is a monster, and Rei acts like a total bitch
    the entire way through. The apprentice has a much better role a few years later in an S episode,
    so I might as well mention him now. The episode gets a 1.5/5.
</p>
{% endblock %}
