{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 64 %}

{% block review %}
<p>
    I have fond memories of this episode. I don't really remember why... but nevertheless. We once
    again pick up the Silver Crystal arc, which was only mentioned in passing in the last three
    episodes. They really can't get enough of this crystal, huh?
</p>
<hr/>
<p>
    Oh, Toei, you really do spoil us! A focus episode for Chibiusa already? My copy of Eternal
    Edition is too big to comfortably flip through and check if this was in the manga whilst
    I'm in the middle of writing the review, but this still counts as a focus episode anyway
    due to its subject matter, even if it might not strictly be a filler episode. We also get
    a small amount of focus on the... four evil ladies? I don't actually remember (or know) what
    their naming theme is. They're all makeup obsessed (very progressive) and bicker with eachother
    over their makeup too.
</p>
<p>
    A lot of the episode is filled with the screams of children, both literal young children and
    Usagi who is acting very childish in this episode. She's terrified of lightning! She has to
    scream about it constantly! There's a line here where Chibiusa tells a kid that boys
    don't cry, and then he immediately gets picked up by his father who tells him he'll be late for
    cram school, which is a bit too on the nose in terms of social commentary. The other half of it
    is Chibiusa wandering around the city looking at happy families and wishing she could go back
    to the future. She turns off gravity, Sailor Moon saves the day, so on and forth.
</p>
<hr/>
<p>
    They really ham it up with the break-up arc scenes here, with Usagi literally immediately
    getting covered in rain when Mamoru pushes him away. Obviously, it's a stupid and evil arc
    that I hate with a passion, but I like how you can see Mamoru immediately bury his feelings
    in searching for Chibiusa; one of his only worthwhile character moments in terms of the breakup
    arc.
</p>
<p>
    We also get a bit more of Chibiusa's mysterious backstory; her Luna plush can send her back
    and forth from the future but she can't go back until she finds the Silver Crystal to save her
    parents. This gives her an actual motive for acting the way she has been to some degree,
    although it doesn't excuse how much of a vile child she generally has been to Usagi.
</p>
<p>
    Animation-wise, again, it's fine. The slapstick bitts are done well, the visual style of the
    city in rain is really pretty with the signature turquoise/pink colour palette. It almost feels
    like a first-season episode in the way it looks! I like this episode despite the ear
    screeching of all of the characters, so I give it a 3.5/5, with the extra points docked for the
    final scenes where it gets really weirdly creepy around Chibiusa and Mamoru.
</p>
{% endblock %}
