{%- macro stars(rating) -%}
{% for star in range(1, 6) %}
{% if rating >= star %}
<i data-feather="star" style="color: orange"></i>
{% else %}
<i data-feather="star"></i>
{% endif %}
{% endfor %}
{%- endmacro -%}

{%- macro r_skip(type) -%}
{% if type == "mandatory" %}
<P STYLE="COLOR: PURPLE">Mandatory!</P>
{% elif type == "must" %}
<P STYLE="COLOR: GREEN">A Must Watch!</P>
{% elif type == "should" %}
<P STYLE="COLOR: CYAN">You Should Watch This!</P>
{% elif type == "can" %}
<P STYLE="COLOR: ORANGE">You Can Skip This</P>
{% elif type == "shit" %}
<P STYLE="COLOR: RED">You Should Probably Skip This</P>
{% else %}
{{ raise("invalid type: " + type) }}
{% endif %}
{%- endmacro -%}

{% set s_number = "{:03d}".format(number) %}

{#
required vars:
- series: the series name
- number: the episode number, 1-200
- my_rating: my rating out of 5
#}

<TD><SPAN>{{ s_number }}</SPAN></TD>
<TD>{{ title }}</TD>
<TD>
    <IMG SRC="/static/screenshots/{{ series }}/ep{{ s_number }}.jpg" HEIGHT="180" WIDTH="240">
</TD>
<TD CLASS="CENTRE WIDETABLE" data-rating="{{ my_rating }}">
    {% if my_rating >= 3 %}
        <B STYLE="COLOR: GREEN">My Rating</B>:<br/><br/>
    {% else %}
        <B STYLE="COLOR: RED">My Rating</B>:<br/><br/>
    {% endif %}
    {{ stars(my_rating|int) }}
</TD>

<TD>
    <details>
        <summary>Episode Synopsis</summary>
        {% block synopsis required %}{% endblock %}
    </details>
</TD>
<TD>
    <A HREF="/reviews/{{ series }}.html#EP-{{ s_number }}">Episode Review</A>
</TD>
<TD>
    {{ r_skip(skip) }}
</TD>