{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 66 %}

{% block review %}
<p>
    Curry? I don't remember a single thing about this episode in the slightest. Is that good?
    Is that bad? I'm personally not a fan of curry; not because there's anything wrong with it,
    but because I've never been able to taste it properly for some reason.
</p>
<hr/>
<p>
    "I'll be fine by myself" says 6 year old Chibiusa. This episode is primarily a vehicle to
    pontificate on the Mamoru-Usagi-Chibiusa triangle (yikes). There's... really not much else to
    say? It's funny. It's animated well enough. But I already hate both arcs so there's no real
    reason to comment on it. It gets a 4/5 for being really damn good in the comedy respect,
    though, with half a point extra for having the bad guys in this are literally just selling
    something called "Dark fruit" that makes you mad. That's what really matters for a filler
    episode.
</p>
{% endblock %}
