{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 65 %}

{% block review %}
<p>
    Wow, Toei. After you gave us a focus episode for Chibiusa so soon last time around, you give us
    a focus episode for TWO Senshis at the same time? You're so nice to us! Wait a second, I
    recognise that animation style... it's an Ando episode. After being completely sidelined for
    the last four episodes, this one is about Mako and Minako.
</p>
<hr/>
<p>
    The title of this episode gives it away immediately. Mako and Minako are fighting over love!
    Well, they're not fighting over a specific love, like you might expect; they're fighting over
    their personal concepts of love. This almost feels like some meta commentary on how stupid
    Mako's "uohhh senpai!!!" arc is, but I think that would be giving the show too much credit.
    Also, who lets a 6 year old wander around on her own in the middle of the day? (Well, the
    Senshis do.)
</p>
<p>
    The only other thing of note is that Jupiter and Venus get their move upgrades too, albeit with
    absolutely zero celebration about it. They just throw out brand new ones halfway into the fight.
    Great!
</p>
<hr/>
<p>
    This episode just feels vaguely empty. It has a bit of breakup arc development showing Mamoru
    still clearly feels bad (and yet he continues to run away from her like a bitch), the actual
    conflict in the title lasts about five minutes before the evil guys reveal themselves, and
    the animation is absolutely nothing to write home about. Ever the bastion of progressivism,
    the evil plan this time is to turn girls into men-haters by having them make wishes about
    un-reciprocated love and having it backfire on them.
</p>
<p>
    You can almost see how the villains are the exact opposite of the Senshis; rivalling directly
    over their differences in love and losing the battle as a reesult. Sadly this doesn't really
    go anywhere as they straight up win and have to be saved by Usagi. This episode gets a 2.5/5.
</p>
{% endblock %}
