{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 69 %}

{% block review %}
<p>
    Episode 23. I didn't realise I was so far in to R when I stopped before. I think I blocked Makai
    Tree out of my memory and believed this series was really fourty episodes of the Black Moon
    arc.
</p>
<hr/>
<p>
    This episode opens with Usagi reading from a fairytale with Chibiusa responding "How boring".
    The delivery from the voice actors here makes it sound like a fucking abridged episode. We
    finally get an explanation (note I did not say 'good') for the breakup arc; Mamoru is being
    tortured in his dreams by an evil future prophecy and he's done it for her own good. Okay.
    It's still stupid and I don't care about it. 
</p>
<p>
    But the show extends the breakup arc in an even stupider way! He needs to find a 
    <a href="https://www.youtube.com/watch?v=VbRhgqPns8U">more effective way</a> to have Usagi hate
    him, so now it's time for the Cheating Arc! He's got another girl on the back of his bike!
    Usagi hates it! She's so sad! Chibiusa hates it! She's so sad! The obligatory fight in the 
    middle of the episode is caused by Chibiusa almost getting run over by a lorry, which is 
    a very flimsy excuse for it even by Sailor Moon's standards.
</p>
<p>
    I hate this. I hate the breakup arc so much. I hate the lame ass justifications and I hate that
    it is so tedious and boring to watch. It's not even filler, it's integral to the main plot. 
    Give me back the filler! Give us back the dumb filler episodes! Half of the episode is 
    dedicated to the other Senshis standing around shouting "Sailor Moon". It's so thoroughly
    pointless.
</p>
<hr/>
<p>
    The best thing in this episode was the trippy dream sequence animation. Beyond that it's the
    standard melodrama of the breakup arc that I actively despise about R. 1/5 at a stretch.
</p>
<p>
    Overly verbose exposition of the episode: "She's probably thinking about her poor mother who's
    being held captive in the future." Delivery of the episode: 
    "Stop it with these night[voice crack]mares!" 
</p>

{% endblock %}
