{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 33 %}

{% block review %}
<p>
    <span style="font-size: 300%">IT'S SAILOR VENUS TIME!</span>
</p>
<p>
    After thirty three episodes, we finally get a real view of Sailor V (for Venus), the fifth
    inner Senshi that has been hinted at from the very start. My brain has been turned into mush
    by the fucking rainbow crystal arc so I am so unreasonably excited about this episode finally
    happening.
</p>
<hr/>
<p>
    Queen Beryl finally returns after her multiple episode absence to scold Gay Jadeite for losing
    two of the colour diamonds - flash cut to SUS IMPOSTER SUS SUS SUS SAILOR MOON IMPOSTER SUS
    WHEN THE IMPOSTER IS SUS! It's very obvious that's not the real Usagi, but everyone in this
    universe has face blindness. The sus imposter starts the cultural revolution by deliberately
    attacking some petit-bourgeoisie counter-revolutionary window washers and then saving them,
    forever leaving them in debt to the glorious proletarian hero Sailor Moon. We also get a zoom
    in on future-Senshi Minako and her cat Artemis, making it very obvious who that is.
</p>
<p>
    My thought process whilst writing is interrupted by my Ando spider sense. Why did they give
    this guy an episode like this? The senshis end up at a... dock yard? For some reason? I mean,
    the reason is that that's where the fake Sailor Moon is going, but I don't really know why they
    made her go towards a dockyard. We get a group transformation (which sucks compared to the
    last group transformation, all the way back in episode 21 !) and I'm kinda upset they take
    the opportunity to have Venus suddenly interject here and introduce herself by randomly
    transforming alongside. That would've been a cool way to introduce her in my opinion.
</p>
<p>
    Turquoise Daddy (Kunzite) is clearly a power level above the un-upgraded Senshis and actually
    genuinely threatens them for once which is a new one. "Is this a trap", asks man who is about to
    fall into the most obvious trap ever. Apparently he can't see that Sus Moon has purple
    highlights on her uniform and not red ones. I'm genuinely convinced that 90s anime protagonists
    were all half blind because even the little kids watching this show would be insulted by how
    stupid some of the decisions being made are. That being said, the tension here is surprisingly
    well done and it feels like one of the few episodes where the Senshis/Tuxedo Mask are actually
    on the losing foot.
</p>
<p>
    Out of nowhere... another Senshi appears! The voice acting here is incredibly weird and stitled,
    as if they were padding for time somehow. It's the fifth and final inner Senshi, introduced at
    least - Pretty Soldier Sailor Venus! Also, there's another talking cat just like Luna, called
    Artemis!
</p>
<hr/>
<p>
    This is an incredibly densely packed episode that does not disappoint when it comes to
    actually advancing the plot. Kunzite and Zoisite work as an incredibly effective evil team here,
    and their plan would've succeeded really well if it wasn't for the outside influence of Venus.
    Tuxedo Mask's harsh demeanor from the past few episodes, where he explicitly states that he
    would steal the rainbow crystals from Usagi, completely falls apart as he is willing to save
    (fake) Sailor Moon and then the real Sailor Moon even if it meant giving up the crystals.
</p>
<p>
    I give this episode a 4/5 for being a cohesive action-packed episode that I really enjoyed.
    Unfortunately the animation quality is pretty bad, with it being an Ando episode, and the
    voice acting from Gay Jadeite is weird at points in a really bad way.
</p>
{% endblock %}
