{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 8 %}

{% block review %}
<p>
    It's Ami time! The second(?) Sailor Senshi - Sailor Mercury - is finally introduced, ending the
    weird period filler focusing on Usagi's friends.
</p>
<p>
    The episode starts off with some info dumping from Luna, who put it off until a major plot
    episode for some reason. In fact, you'll find this an annoying habit of the show; you can
    immediately tell if an episode is a major plot step because the cats suddenly started info
    dumping or they fight the Seasonal Villain directly.
</p>
<p>
    In this case, you can tell Ami is a new major plot character as they have Usagi and Luna go
    <em>to</em> her, rather than have Ami come to Usagi, which is a particularly strong sign.
</p>
<br/>
<p>
    Outside of introducing Mercury, this episode is structured and plays out like a typical
    episode. The villain of the week is preying on overstudying students, steals their energy,
    but now Usagi and Ami team up to kill it. Ami has her own attack - which obviously sucks
    compared to Usagi's awesome attack. Mamoru shows up to insult Usagi again.
</p>
<p>
    I do think the evil floppy disc is a bit of a silly plot device though. It speaks evil messages
    to you in an evil voice! Usagi also uses her disguise pen again, which makes me look quite like
    the fool for insisting she never does, but I promise you it's overused early on. She's also
    surprisingly specific about what she wants to transform into - not just a doctor, but a
    university doctor?
</p>
<br/>
<p>
    The animation is very solid this episode, too. It's really funny when they run away from Mamoru
    after he catches Luna talking, and the scene immediately after is the famous joke about
    computers that you've probably seen. I also LOVE Ami's transformation here; whilst the best
    transformation animation is their second stage/Usagi's third stage one, this is definitely
    one of the best runner ups.
</p>
<p>
    Overall I give this episode a 4/5. It's a solid plot episode, but it would also be an incredibly
    solid filler episode.
</p>
{% endblock %}