{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 63 %}

{% block review %}
<p>
    At the time of writing, it has been... nearly six full months since I last wrote a review
    for Sailor Moon R. There's a few reasons for this. R inflicted permanent damage on my psyche
    because I went into it thinking "actually, I like R more than most people!" only to be
    immediately proven wrong repeatedly. I also injured myself from the sheer amount of typing
    I was doing to write the reviews. Finally, I have a weird complex about activities in the
    weather: Sailor Moon is a <i>cold</i> series. It's only just gotten cold here again (as I type
    this, I am really cold!) so I can start doing reviews again.
</p>
<hr/>
<p>
    Obviously, I picked a really good episode to start back with: Old Man Pervert episode! The
    title of this episode gives the game away a little, being R's episode 4 (somehow, it's in the
    exact same spot arc-wise too.) There's child spanking in the first three minutes. The plot here
    is very very thin; Rei's grandpa sets up a fake aerobics studio to perv on young girls.
    complete with suggestive shots of teenagers in leotards.
</p>
<p>
    This is one of the rare episodes where shrine apprentice Yuichiro gets to shine. He's hot,
    very naive, and very eager to please and serves as the opposing moral side to the
    Pervert Grandfather. I like him, albeit mostly for his later appearances. He also serves as a
    miniature love interest for Rei; ostensibly, this is meant to be her focus episode (although
    I didn't realise until literally halfway through the episode, oops!) hence his focus because
    of that.
</p>
<p>
    Anyway, the Evil Guys show up and Pervert Grandpa comes to his senses after realising all the
    teenage girls actually do hate him. Rei has to save him! She does save him, but Sailor Moon
    saves her too because her primary purpose was to be kicked repeatedly instead. Then she gets up
    and gets a powerup with her SECOND move: Burning Mandala!!! This one is a real upgrade
    and stays until she gets her transformation upgraded next season.
</p>
<hr/>
<p>
    Animation-wise, this is a very middle of the road episode. The character animation is...
    <i>fine</i>. It's not, like, Ando level, but it's not very pleasant to look at. A whole bunch
    of shots are reused in rapid succession with minimal editing which is pretty funny but very
    unintentionally. The moral message here is very mixed; it's okay to be a pervert as long as your
    daughter loves you anyway.
</p>
<p>
    I almost finished writing this before Tuxedo Mask showed up and I was reminded of the fucking
    break-up arc that the writers just refused to commit to. He shows up! He gives her a pithy
    quote! But he doesn't like her and wants to stay away from her! He even stops Usagi
    from intervening with Rei and then fucks off again! It's just so fucking stupid.
</p>
<p>
    I give it a 2/5 because I hate the subject matter (perverted old men) and I hate the breakup
    arc, but it gets an extra point for giving Rei her upgrade.
</p>
{% endblock %}
