{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 11 %}

{% block review %}
<p>
    This is our first episode with the full team of the three inners, as hinted at for ten full
    episodes with the first version of Moonlight Densetsu. The dynamics of the show start to
    change here, morphing closer to how it presents itself for the rest of the ~180 episode run,
    with Usagi's original friends getting put on the bus and being replaced with the other Senshis.
</p>
<p>
    Timing wise, we're starting to reach the summer of 1992, which means Jadeite is almost about to
    be killed off for the next seasonal villain. There's only so many times he can be thwarted
    before the Queen Beryl replaces him with a new subordinate, for example.
</p>
<br/>
<p>
    Rei and Luna also immediately show their characteristic Classic-esque dickheadedness, with Luna
    suddenly deciding that fun is now banned, and Rei insulting Usagi (who she met literally not
    one week ago) for essentially no reason, calling her dense and immature (which is true, but
    she has no reason to talk). To be fair, Usagi really doesn't help herself here at all, but it's
    really quite annoying how suddenly the writers started making them fight.
</p>
<p>
    This also starts the baffling mid-season Rei/Mamoru romance, an addition seemingly shoehorned
    in purely to piss off Usagi even more. The writers really enjoyed drumming up this rivalry
    between Rei and Usagi this season (and then reverting back to it in SuperS!!!!), bringing up
    Rei as the more mature and responsible Senshi, even to the point of Usagi falling for a really
    stupid and transparent trick from the enemies later on.
</p>
<br/>
<p>
    Animation wise, this is the first of the infamous Masahiro Ando episodes, who was the key
    animator for a lot of episodes in the show throughout all five seasons despite having an
    inability to draw properly. The upside is the (clockwork?) doll villain is beautifully animated
    and the aesthetics of everything are on point, as usual.
</p>
<br/>
<p>
    Overall, I give this episode a 3.5/5. It's a perfectly serviceable and fun episode with a
    cool setting and villain; but dragged down horribly by the Usagi/Rei rivalry that the writers
    literally couldn't get enough of throughout classic.
</p>
{% endblock %}