{% extends "reviews/_reviews_base.html" %}

{% block body %}
<H3><A HREF="/">Back To The Main Page!</A></H3>

<H1 STYLE="COLOR: LIME">Sailor Moon Classic - Episode Reviews</H1>
<HR STYLE="HEIGHT: 10PX; BACKGROUND-COLOR: BLACK; COLOR: BLACK;">
<P STYLE="BACKGROUND-COLOR: BLACK">
    For those of you who care, I've tried to make these reviews relatively spoiler free but I do
    reference certain future stylistic and tone choices in the later series. Keep that in mind when
    reading these - and don't read reviews for episodes you haven't watched!
</p>

{#{% for row in per_dir["classic"] %}
<TR>
    {% include "reviews/classic/" + row %}
</TR>
{% endfor %}#}
{{ super() }}

{% endblock %}