{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 36 %}

{% block review %}
<p>
    After three weeks worth of plot-heavy episodes, we're back to our regular schedule of filler
    episodes. On one hand, jumping to filler immediately after such a massive bump in the plot
    leaves a bad taste in my mouth; I want to see where the previous revelations are going to lead
    and having ANOTHER eight episodes is going to really test my patience.
</p>
<p>
    On the other hand, I can see the argument for letting the characters develop through individual
    focus episodes after the traumatic events of the three-parter. Classic ending at around episode
    forty or so would have also required six more episodes of a certain arc at the beginning of R,
    so logistically it makes sense to extend the Silver Millennium part of the show instead.
</p>
<hr/>
{{ iimg("ep036-2.jpg") }}
<p>
    This episode is focused around a very "little girls" topic - hairdressers! I think this is a
    good topic to start the run of filler with after the serious demeanor of the last three
    episodes. The first thing I notice is that Usagi's monologue at the start of every episode
    has been removed; this time, it's been replaced with Usagi having a PTSD-esque dream about
    the burning of the Moon Kingdom and losing Tuxedo Mask, which is sadly undercut by the comedy
    of Usagi crushing Luna under her arm in her sleep. I don't like that they added the comedic
    bit here and I think it does undercut the serious tone of the scene a little; it's not like
    they haven't had purely serious scenes before.
</p>
<p>
    A new hair salon has opened in the Juban district, and are offering free haircuts for the
    grand opening! It's a dream come true for 14-year-old girls everywhere! Unfortunately, Usagi is
    too depressed to care about it, despite Naru and her friends attempt to cheer her up at all.
    At the shrine the other Senshis discuss Usagi's condition, complete with comedic montage of
    Usagi again being too depressed to function properly. Look, I'm not asking for a completely
    serious show, but these small moments of comedy really undercut a lot of the tone the show is
    going for here. There's a time and place for the comedy, and this is not it.
</p>
{{ iimg("ep036-3.jpg") }}
<p>
    The team are split between themselves on what to do; Artemis and Luna are both particularly
    heartless and believe that Usagi's duty is to just suck it up and embrace being the princess,
    whereas Rei sticks up for her stating that she's lost someone important and that you can't blame
    her for grieving in such a situation. I like this little touch here, with even the others
    pointing it out that Rei usually doesn't emphasize with Usagi at all. She encouraged Usagi to
    fight last episode, but it didn't solve the problem at all - and now the man they both liked is
    gone. This small spark of Rei's character almost in retrospect makes up for her general
    bitchiness throughout the rest of the series hitherto - almost.
</p>
<p>
    Whilst this almost certainly wasn't planned from the start, there's a cool little link here
    where Usagi's memory of constantly being called bun-head by Mamoru convinces her to go to the
    hair salon to get a new hairstyle, which is also suggested by Minako as a way to improve her
    mood. We cut to the Dark Kingdom for a recap on their plans; they must steal the Silver Crystal
    from Sailor Moon at any cost. The light on Queen Beryl's lips during her close up shot looks
    like a set of fangs, complimenting the shot of her baring her long and shark claws as she
    discusses with Kunzite. Kunzite's personal plan is to use the hair salon to gather hair samples
    to match against a strand of Usagi's hair that he previously obtained - except, that Usagi's
    hair doesn't match! But Minako's hair does! The monster forms a spiral out of the other
    hairdressers to transform through the visual of a barber pole (see the preview image) which
    is a really great visual gag for the episode.
</p>
{{ iimg("ep036-5.jpg") }}
<p>
    Usagi goes to use her Moon Stick to purify the enemy, but suddenly... Tuxedo Mask appears with
    a rose interrupting her! He reveals that, no, he is not Tuxedo Mask anymore, but the commander
    of the Dark Kingdom! It's a shame, because Usagi was fighting really well this time including
    firing a... makeup container(?) like a flashbang at the monster before actually threatening
    to purify her. Venus wakes up just as Usagi runs away with monster and Tuxedo Mask in tow,
    gathering the rest of the Senshis to save her from the much stronger combination of both. This
    time, we have a vastly superior Moon Healing Escalation, complete with kaleidoscope music to
    replace the rather... barebones music from last time.
</p>
<hr/>
<p>
    This episode is an almost-worthy successor to the last three serious episodes, tackling Usagi's
    depression at losing Mamoru well and opening the plot thread of if Mamoru is really evil now
    (that's even the title!). Unfortunately, undercutting the drama with inappropriate comedy at the
    start is a real sticking point for me, even if it's not really an issue in the wider context of
    the show. I like the way this episode stands as a turning point for the character personalities,
    with Rei finally abandoning her childish rivalry with Usagi for once and Usagi taking
    responsibility and fighting properly after all this time.
</p>
<p>
    Overall, I give this episode a 4.5/5.
</p>
{% endblock %}