{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 27 %}

{% block review %}
<p>
    Okay, before I say anything else, I just have to point out - this episode has a new Moonlight
    Desentsu, and it is absolutely beautiful. It also literally spoils the rest of the show,
    so I'm really not sure what they were thinking.
</p>
<p>
    This is one of the first inner Senshi "focus" episodes, which introduces a special side
    character that is somehow related to the designated Senshi of the week. This is in contrast
    to the regular filler episodes, where the side character appears out of thin air, and then
    recedes back into the aether at the end of the episode. Specifically, this episode focuses on
    Ami.
</p>
<hr/>
<p>
    For the third week in a row, we start off with an explanation of the magic colour diamonds.
    Why? I guess we've really got to appeal to all those stupid kids who missed two episodes in a
    row during this filler arc for some reason. I've developed a superpower for being able to tell
    Ando episodes; I see one face and I don't need to even consult the chart anymore. The side
    character of the week is a future predicting genius who saves Ami from a steel girder falling
    on her head, and uses his ability to cheat on a test. He develops a crush on her due to her
    giving him his eraser and warns Usagi not to take a bath or else she will melt like a witch.
</p>
<p>
    We cut to Mamoru, who is clearly the stupidest man alive as he keeps agreeing to more dates
    with Rei despite clearly being uncomfortable with her. At this point, both him and the audience
    knows that he's really meant for Usagi/Princess Serenity so I really don't know what they're
    doing by continuing this silly side fling. Usagi concocts a plan to make the future predicting
    guy meet up with Ami, which is the convenient plot mechanism to bring Usagi and Ami to the
    scene of the next monster.
</p>
<p>
    Alas, Gay Jadeite turns up and tries to turn him into the third Great Monster, except because
    he knows the future he pathetically tries to avoid his fate. Much like Nephrite before, we get
    an actual confrontation between the Senshis and the seasonal villain a lot earlier this time!
    And we get a transformation in the first half of the episode! And oh my fucking god, the
    animation quality is absolutely dreadful here - it's like a flash animation, with Usagi and
    Jadeite moving across the screen linearly like two sprites.
</p>
<p>
    In what is an actually interesting twist, the future predicting guy (now turned into Bunboo)
    overrides Gay Jadeite and the allegedly predetermined future to directly attack Gay Jadeite
    instead. If you've watched up to this far, you can start to tell the exact musical cues in the
    battle soundtrack where external help - in this case, Jupiter and Mars - will appear. I'm
    going to say this every episode too, but I STILL hate Moon Healing Escalation! It feels so
    utterly empty without any sort of music at all. Team Inners now have their first magic colour
    diamond, with two going to Tuxedo Mask instead.
</p>
<hr/>
<p>
    This episode is a lot different from the previous two episodes, in that it actually has the side
    character doing something rather than stand around and wait to be turned into a monster. The
    mind reader boy is one of the better side characters in the whole show so far, too, actually
    putting up a fight against Gay Jadeite instead of just flopping over instantly.
</p>
<p>
    Unfortunately, despite trying to be an episode for focusing on and developing Ami, she doesn't
    really do anything here except stand around and talk to him a bunch. He beat her academically,
    sure, but that's not impressive when you can literally see the future. It feels like this
    episode would've worked with any of the other Senshis instead. I give it a 3.5/5 for being a
    compelling filler episode, but docked points for not using Ami properly at all.
</p>
<p>

</p>
{% endblock %}
