{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 54 %}

{% block review %}
<p>
    Ando episode. A Rei episode. It's like a perfect combo for a shit episode, as Rei hasn't yet
    grown out of her arsehole nature properly. She had some glimpses at the end of Classic, but
    given that this is Classic 2 that obviously had to be undone.
</p>
<hr/>
<p>
    The first thing I note is that Rei's voice actor is REALLY phoning it in here. The subtitles and
    animations say that she's meant to be mad and stressed, but the voice acting is calm and
    collected. Her singing also sucks. I guess Makai Tree really isn't worth putting much effort
    in especially if you're not Usagi. I honestly think an episode like this, with Rei stressing
    over her performance, would be done far better without the aliens. It's similar to Classic's
    haunted house episode in that the conflict can come from within. Alas, that's not the case,
    and the aliens are here to just be nuisances again. I do love the shot where they're just
    standing under a tree with an horrific case of the blues - quite literally; they're covered in
    a blue aura - though.
</p>
<hr/>
<p>
    The only other thing of note for this episode is that there's a group transformation (with badly
    animated lip sync and bad music sync), the aliens attack whilst Rei is performing, etc. It's not
    like, a bad episode, but just a vaguely empty episode? It's ostensibly Rei's focus episode
    but it doesn't really work out as such because she doesn't really do anything until after the
    other Senshis arrive, and even then it's just singing. Instead, Usagi and co get a nice montage
    of them doing stuff instead. The only thing of note is that Rei gets her short-lived upgrade;
    from Fire Soul to the terribly named Fire Soul Bird (what?).
</p>
<p>
    I give it a 1.5/5; it would be a 2.5/5 (for being neutral) but it loses a point for being a
    Makai Tree episode.
</p>
{% endblock %}
