{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 52 %}

{% block review %}
<p>
    It's almost funny how predictable this show's structure is at this point. We are WELL overdue
    for a focus episode for the inner Senshis, as it's only been four full episodes since they've
    been introduced - far too long! This one is for Venus. It's about preschoolers. I don't really
    see the correlation. Or, in this case, evil preschoolers. Well, evil children in general.
    For example, some aged-down gang members bully an aged-down manipulative teenager (what?) who
    then bullies Minako into carrying her to the bus. Kids are evil in the Sailor Moon universe.
</p>
<hr/>
<p>
    Actually, plot-wise, this is significantly more of a focus episode than the previous ones by
    virtue of starting from the perspective of Minako rather than starting with Usagi and segueing
    into Minako's perspective. It turns out that the bullied preschooler was bullied because she
    believes in Sailor Moon and the other kids don't. Given that Sailor Moon objectively exists I
    must assume this is some sort of conspiracy theory in the youth: Sailor Moon is a government
    plot to control us! They're putting Venus in the water! She asks Minako to go to the preschool
    to tell the other kids Sailor Moon is real. The alien shows up at the preschool.
    Yeah, you get the plot here. Also, apparently in Japan they just let random 14 year olds show
    up and give lectures.
</p>
<p>
    The most notable part of this is Venus gets her first, short-lived upgrade:
    Crescent Beam Shower! All four inners get a shitty 1.5th tier upgrade in this arc, before they
    get their real second tier attack soon (I can't remember if it's in R or in S). Also, Moonlight
    Knight's words here about believing are foreshadowing something...
</p>
<hr/>
<p>
    This episode is, like, tolerable. That's the best I can really say about it. The animation is
    fine, the plot is fine, the children are annoying, Minako sure does exist. Normally I'd give it
    a 2.5/5 but it gets a 2/5 for being Makai Tree.
</p>
{% endblock %}
