@font-face {
    font-family: "Heuristica";
    src: local("Heuristica"), url("/static/Heuristica-Regular.woff") format("woff2");
}

/* blink polyfill as these IDIOTS removed th eblink tag */
.BLINK {
  animation: 2s steps(1) infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

/* hard styles */
BODY {
    /** use TNR if available, otherwise Heuristica looks pretty close */
    font-family: "Times New Roman", "Heuristica";
    height: 100%;

    cursor: url("/static/Salior Moon.cur"), url("/static/cursor.png"), auto;
    font-size: 36px;
    margin: 4px;
}

H1 { font-size: 96px; }
H2 { font-size: 78px; }
H3 { font-size: 64px; }

TD, TH {
    border: 1px solid black;
    padding: 10px 5px;
}

/* class styles */
A:NOT(.NORMAL) { COLOR: AQUA; }
A:VISITED:NOT(.NORMAL) { COLOR: MEDIUMSLATEBLUE; }

BODY.BG-1 {
    background-image: url("/static/r-eyecatch.jpg");
    background-repeat: repeat;
}

BODY.BG-2 {
    background-image: url("/static/stars-title.jpg");
    background-repeat: repeat;
    background-size: 15%;
}

.WIDETABLE { width: 15% }

.FLEX { display: flex; }
.FLEX-CENTRE { justify-content: center; }
.FLEX-AROUND { justify-content: space-around; }
.FLEX-CHILD {
    flex-shrink: 1;
    flex-basis: content;
}
.FLEX-GROW { flex-grow: 1; }

.CENTRE { text-align: center; }

DIV.PARA {
    color: white; text-align: center;
}

DIV.PARA > P, DIV.PARA > SPAN {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 10px;
    -webkit-text-stroke: 1px;
    mix-blend-mode: exclusion;
}

/* colour classes */
.C-WHITE { color: white; }
.C-RED { color: red; }
.C-PINK { color: hotpink; }
.C-BLUE { color: cyan; }
.C-GREEN { color: lime; }
.C-YELLOW { color: gold; }
.BLEND { mix-blend-mode: exclusion; }

.REVIEW-CONTAINER {}

.REVIEW-CONTAINER > .REVIEW {
    width: 75%;
    margin: auto;
    background-color: black;
    padding: 20px;
    color: white;
    text-align: justify;
}

.REVIEW > P {
    /* unreset this */
    margin-top: 36px;
    line-height: 120%;
}

.REVIEW-OUTER IMG.INLINE {
    margin: auto;
    margin-top: 16px;
}

.U { text-decoration: UNDERLINE; }
.S { text-decoration: LINE-THROUGH; }

UL.CIRCLE {
    list-style-type: disc;
}