{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 20 %}

{% block review %}
<p>
    The beach episode! Every anime made in approximately the last one hundred years needs to have
    a beach episode, as a reprise from the main plot - and as an excuse to dress all the girl
    characters in skimpy swimsuits.
</p>
<p>
    Sailor Moon is no exception to this, with the flimsy excuse of using the beach as a training
    area for the Senshis, with a private pension house that they rented. Unfortunately, they get
    lost and end up following a creepy little girl to a creepy mansion overlooking a sheer cliff -
    which turns out exactly to be the house Rei rented. The Senshis are greeted by a bunch of
    people in shitty monster costumes, terrifying only Usagi and Luna.
</p>
<p>
    The mansion itself appears to be constructed out of concrete infused with red flags, taking
    every opportunity to spook the hell of Usagi - including a ghost that Usagi can see, but not
    Ami or Rei who glare her down for daring to be scared of the fucking EVIL HORROR MOVIE MANSION.
    The tall old moustache guy is also hypnotising his daughter for some reason. I'm sure there's
    nothing wrong going on there.
</p>
<p>
    Did you forget this is a beach episode? Because the writers suddenly remember it's a beach
    episode and put the girls on the beach in their swimsuits. Unfortunately, if you're the kind of
    person that likes to ogle animated middle schoolers (for the record - I am not), this episode
    offers nothing. We cut to a shot of the creepy little girl being creepy, then to a shot of the
    mansion, then to the creepy little girl being creepy again. It turns out the creepy little girl
    is creepy because she has psychic powers, and that's also why the mansion is so creepy.
</p>
<br/>
<p>
    This episode serves as a double layer of filler; whereas most of the filler episodes thus far
    have served to be Evil Monster of the Week episode, whereas this episode is completely detached
    from the seasonal villain arc and as such is completely detached from the main plot.
    Despite the actual beach scenes being a tiny part of this episode, it fulfils its row as a
    beach episode as a result.
</p>
<br/>
<p>
    I give this episode a 4.5/5; it's a very enjoyable episode with excellent comedic writing and
    timing; the support cast are surprisingly fantastic and the departure from Nephrite's arc is
    a welcome break in what is otherwise a very serious segment of the show.
</p>
{% endblock %}