{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 50 %}

{% block review %}
<p>
    Fun fact: The first time I tried to watch this, I was watching it with one of my good friends
    and this episode simply would not stream properly due to internet shenanigans. So, for the most
    part, this episode is actually new to me! Also, this is the quarter point of the whole show! I
    do vividly remember the first half as belonging to Classic - although, given what Makai Tree is
    it might as well be part of Classic.
</p>
<hr/>
<p>
    This episode, as you might suspect from the title, is based within a virtual reality area;
    normally, this would let them really go wild with the environments but the focus here seemed to
    be within the various monster props inside the tunnel. This is actually a tunnel episode which
    Sailor Moon really loves to use - an episode where all the characters are running around inside
    a metallic tunnel, with lots of green highlights everywhere. I can't complain because I do quite
    enjoy the aesthetics of this, but it certainly could have been better.
</p>
<p>
    The other focus is on the love quadrilateral between Usagi, Mamoru, and the aliens. The girl
    alien likes Mamoru (but also the boy alien), the boy alien likes Usagi (but also the girl
    alien), Usagi likes Mamoru, and Mamoru is just permanently bewildered at his newly found harem.
    To be honest: I find this dynamic really annoying overall. The aliens constantly flip-flop on if
    they like Usagi/Mamoru or each-other more and it's just tedious every single time. Despite not
    being a Mamoru/Usagi shipper guy, their dynamic on the other hand really does work well with
    Mamoru properly developing into the character he is throughout the later series. Finally, the
    core plot point is that Usagi's tiara no longer works! We'll find out more next week as to why!
    Instead, Not-Tuxedo Mask has to save the day!
</p>
<hr/>
{{ iimg("ep50-2.jpg") }}
<p>
    The animation is pretty good this time around. It's not an Ando episode which bumps it up a
    bunch, the visual fx and popups is hilarious and the character designs for the unique
    characters are great. It's fluid in the places where it needs to be, which makes me suspect
    this episode had a bit of a budget bump compared to the previous ones (mostly due to
    plot-related developments). The key animator in this case is Katsumi Tamegai, who is a mainstay
    throughout the series and one of the better key animators throughout the show, alongside the
    likes of Minako Ito and the other series-long animators that make it all the way to Stars.
</p>
<p>
    This episode is overall about a 3.5/5; watchable, but it's a Makai Tree episode so it loses some
    points for that. The love triangle is annoying and I continue to hate it. The aesthetics
    are pretty nice, though. Also it's the last episode for a certain thing that I hate...
</p>
{% endblock %}
