{%
set titles = [
    "The Crybaby: Usagi's Beautiful Transformation",
    "Punishment Awaits: The House of Fortune is the Monster Mansion",
    "The Mysterious Sleeping Sickness: Protect the Girls in Love",
    "Learn How to Be Skinny from Usagi",
    "Scent of a Monster: Chanela Will Steal Your Love",
    "Protect the Melody of Love: Usagi Plays Cupid",
    "Usagi Learns Her Lesson: Becoming a Star is Hard Work",
    "The Girl Genius is a Monster: The Brainwashing Cram School of Horror",
    "Usagi's Disaster: Beware of the Clock of Confusion",
    "The Cursed Bus: Enter Mars, the Guardian of Fire",
    "Usagi vs. Rei: Nightmare in Dream Land",
    "I Want a Boyfriend: The Luxury Cruise Ship is a Trap",
    "Girls Unite: The End of Jadeite",
    "A New Enemy Appears: Nephrite's Evil Crest",
    "Usagi's Panic: Rei's First Date",
    "A Girl's Dream: Usagi Becomes a Bride",
    "Usagi's a Model: The Flash of the Monster Camera",
    "Shingo's Love: The Grieving Doll",
    "Usagi's Joy: A Love Letter from Tuxedo Mask",
    "The Summer, the Beach, Youth and Ghosts",
    "Protect the Children's Dreams: Friendship Through Anime",
    "Romance Under the Moon: Usagi's First Kiss",
    "Wish Upon a Star: Naru's First Love",
    "Naru's Tears: Nephrite Dies for Love",
    "Jupiter, the Powerful Girl in Love",
    "Restore Naru's Smile: Usagi's Friendship",
    "Crushing on Ami: The Boy Who Can See the Future",
    "The Painting of Love: Usagi and Mamoru Get Closer",
    "Total Chaos: The Messy Love Rectangle",
    "Grandpa Loses Control: Rei in Danger",
    "Love and Chased: Luna's Worst Day Ever",
    "Umino's Resolve: I'll Protect Naru",
    "Enter Venus, the Last Sailor Guardian",
    "The Shining Silver Crystal: The Moon Princess Appears",
    "Returning Memories: Usagi and Mamoru's Past",
    "Usagi's Confusion: Is Tuxedo Mask Evil?",
    "Let's Become a Princess: Usagi's Bizarre Training",
    "The Snow, the Mountains, Friendship and Monsters",
    "Paired with a Monster: Mako, the Ice Skating Queen",
    "The Legendary Lake Yokai: The Bond of Usagi's Family",
    "I Won't Run Away from Love Anymore: Ami vs. Mamoru",
    "Sailor Venus' Past: Minako's Tragic Love",
    "Usagi Abandoned: The Falling-Out of the Sailor Guardians",
    "Usagi's Awakening: A Message from the Distant Past",
    "Death of the Sailor Guardians: The Tragic Final Battle",
    "Usagi's Eternal Wish: A Brand New Life",
]
%}

{# makai tree #}
{%
set titles = titles + [
    "Moon Returns: The Mysterious Aliens Appear",
    "For Love and for Justice: Sailor Guardians Once Again",
    "For Whom is the White Rose? The Moonlight Knight Appears",
    "Usagi's Crisis: The Tiara Stops Working",
    "A New Transformation: Usagi's Power-Up",
    "The Targeted Kindergarteners: Venus to the Rescue",
    "Mamoru and Usagi's Babysitting Mayhem",
    "The School Festival is for Me?! Queen Rei's Song",
    "Is Seijuro the Moonlight Knight? Mako on Fire",
    "Steal a Kiss from Mamoru! An's Project Snow White",
    "After School Trouble: Usagi is a Target",
    "Disconnecting Love: The Raging Makai Tree",
    "True Love Awakens: The Makai Tree's Secret",
]
%}

{# R main arc #}
{%
set titles = titles + [
    "Angel or Devil? The Mysterious Girl from the Sky",
    "Usagi Devastated: Mamoru Declares a Break-Up",
    "A Guardian's Friendship: Goodbye, Ami",
    "Women Must Be Strong and Beautiful: Rei's New Special Technique",
    "In Search of the Silver Crystal: Chibi-Usa's Secret",
    "Dispute Over Love: Minako and Makoto's Conflict",
    "Usagi's Parental Love: The Curry Romance Triangle",
    "The Beach, the Island and a Vacation: The Guardians' Break",
    "Protect Chibi-Usa: Clash of the Ten Warriors",
    "Awaken the Sleeping Beauty: Mamoru's Distress",
    "Battle of the Flames of Love! Mars vs. Koan",
    "For Friendship! Ami vs. Berthier",
    "Rubeus the Heartless: The Tragic Sisters",
    "A UFO Appears: The Sailor Guardians Abducted",
    "Defeat Rubeus: The Battle in Space",
]
%}