{%
set titles = [
    "The Crybaby: Usagi's Beautiful Transformation",
    "Punishment Awaits: The House of Fortune is the Monster Mansion",
    "The Mysterious Sleeping Sickness: Protect the Girls in Love",
    "Learn How to Be Skinny from Usagi",
    "Scent of a Monster: Chanela Will Steal Your Love",
    "Protect the Melody of Love: Usagi Plays Cupid",
    "Usagi Learns Her Lesson: Becoming a Star is Hard Work",
    "The Girl Genius is a Monster: The Brainwashing Cram School of Horror",
    "Usagi's Disaster: Beware of the Clock of Confusion",
]
%}