{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 37 %}

{% block review %}
<p>
    I don't like this episode.
</p>
<hr/>
<p>
    On a technical level, this episode doesn't really do anything particularly wrong I guess. I
    just don't like it purely because of the aesthetics. See, I'm a very modern kinda guy, and I
    like modern things - like computers, blinkenlights, and super-heavy launch vehicles. This
    episode deals with decidedly non-modern things, such as princesses and mansions. Regardless of
    my opinion on the aristokkkracy and monarchies, I paticularly despise the aesthetics of
    "princesses", fancy balls, and all that stuff.
</p>
<p>
    This may seem like a very subjective method of analysing an episode - but it's my review site,
    so I can do what I want. This episode feels like a very early-series episode, what with starting
    in the school, that was awkwardly jammed and rewritten to be in
    the filler arc at the very end. This is also one of the reasons I hate SuperS; the circus
    aesthetic is completely against everything I like.
</p>
<p>
    I give this an episode a 0.5/5 for just being aesthetically ugly.
</p>
{% endblock review %}