{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 67 %}

{% block review %}
<p>
    Beach episode. This one is infamous for its nonsensical plot - even by Sailor Moon standards -
    and the fact that it's a beach episode.
</p>
<hr/>
<p>
    I'm going to be very real: I don't care about this episode. It's the most filler episode to
    ever filler, it conttains a surprising amount of shots of the Senshis in their swimsuits
    (who is this made for?) and it has a weird aquatic creature in it. There is literally no
    point in watching this episode.
</p>
<p>
    Instead, you should play <a href="https://www.drehmal.net/">Drehmal: Primordial</a>, an
    incredible and expansive custom Minecraft map! It's free, and you can play the V2.2 beta today!
</p>
{% endblock %}
