{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 38 %}

{% block review %}
<p>
    I remember this episode surprisingly fondly, actually. I was unsure in my memory when it
    happened, though - something about it feels like an R episode. This is the second appearance of
    Hikawa's shrine apprentice, who's name I have completely forgotten already. The waters are a bit
    muddled on the Senshi focused episodes in Classic, but this one can be called Rei's focus
    episode I think.
</p>
<hr/>
<p>
    The Senshis are discussing about going on a romantic ski trip to crown a "moon princess",
    including lying to the cats it's a training exercise. Kunzite agrees with me that this is the
    most pathetically obvious trap they've had yet, and Mamoru scolds him for underestimating the
    Senshis. On one hand, that's good advice as they beat the dark kingdom 37 weeks in a row so far,
    but on the other hand they've yet to score a single direct hit on any of the princes; they've
    only ever been killed by their fellow Dark Kingdom comrades.
</p>
{{ iimg("ep038-3.jpg") }}
<p>
    It turns out Yuchiro (the apprentice) is rich and has his own mansion up in the... japanese
    alps? Kunzite gives the monster of the week a special "uncover the real identity of Sailor Moon"
    power - which feels likee it would have been pretty useful beforehand in my opinion. The main
    thing I note about this episode is that it is extremely 90s; every character looks like the
    stereotype of a strong 90s anime woman. It's remarkable how intense the feeling is compared to
    most of the other episodes - and, sure, the colour palette and general aesthetic design
    is one of the things Sailor Moon is known for, but this episode absolutely dials it home.
    Otherwise, the animation is relatively unremarkable - with lots of flat character cels skiing
    downwards down the background cels that are reused about five times in a row over the course
    of about three minutes.
</p>
<p>
    The monster causes an... avalanche? Which is represented by a gigantic snowball chasing
    Rei and Usagi like in an Indiana Jones movie, or perhaps like the opening of a Sonic game.
    Yuchiro tries valiantly to protect Rei from the snowball only to get utterly obliterated by it
    which is a pretty funny scene, followed bby Rei trying to climb the avalanche which is also a
    pretty funny scene. Rei manages to have a direct chat with Usagi without acting like a complete
    bitch, finally completing her transition into her post-Classic self that I prefer and remember.
    During the fight scene, Rei and Usagi manage to break Tuxedo Mask's brainwashing a tiny amount,
    enough to save them from the monster and allow Usagi to purify her.
</p>
<hr/>
<p>
    There's not really much else to say about this episode. It's filler! It's decent filler! It's
    an enjoyable watch. Yuchiro is a hilarious side character here - much better than his first
    appearance; although, I still like his episode in S a lot better.
</p>
<p>
    I give it a 3.5/5 for being enjoyable filler, but it has no real special qualities other than
    that.
</p>
{% endblock %}