{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(4) }}
<p>
    In a show of 200 full episodes, there are undoubtedly going to be some really good episodes,
    which you remember forever. I can think of a few episodes throughout this show that I really
    love, even four years later. On the other hand, there are undoubtedly going to be some
    really bad episodes.
</p>
<p>
    Some episodes are bad because they're boring. Some episodes are bad because they're poorly
    written. Some episodes are bad because they're SuperS episodes. And then there's this episode,
    which I really don't understand how it made it past the producers even in the 1990s.
</p>
<p>
    The premise of this episode is that there's a magic evil gym that you can lose weight at
    extremely rapid rates so that you'll become beautiful. This is repeatedly hammered in with the
    poorly disguised Jadeite straight up telling Naru (Usagi's friend, if you forgot (like I did))
    that if she doesn't exercise herself to death she won't be beautiful.
</p>
<br/>
<p>
    What's the moral message here, exactly? Starve yourself otherwise you'll be ugly? That's a
    really good message to give to impressionable 13 year old girls watching your show in 1992.
    Did you know that this episode even aired with a disclaimer in the original DIC US dub?
</p>
<p>
    Now, look, I'm not exactly a position of authority when it comes to weight or whatever. But this
    episode is absolutely awful and irredeemable; it fits right in with proana tumblr blog
    propaganda, even down to all the characters making fun of Usagi for her (non-existent!!!!)
    weight.
</p>
<p>
    There's no really redeeming qualities here. I give it a 0/5 for being so offensively morally
    bad, and there's literally no reason to watch this.
</p>
{{ review_footer() }}