{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(5, "Scent of a Monster: Chanela Will Steal Your Love") }}
<p>
    This episode focuses on Usagi's younger brother, Shingo, where he buys a fucked up evil...
    chinchilla? Hamster? I'm not really sure. In what is possibly the stupidest joke ever, it's
    called a Chanela and it smells like perfume; also, you don't have to pay for it and you don't
    have to feed it. Also, it kills you by making you stare at it forever.
</p>
<p>
    Quite frankly, I feel like that's an embarrassing trap to fall into, even as a primary school
    student.
</p>
<br/>
<p>
    This is one of the very few episodes that focus on Usagi's family, who are put on the bus at the
    end of Classic and don't really play any part ever again. Shingo does himself no favours by
    straight up booting Luna halfway across the room (which she doesn't yet deserve), but the favour
    is repaid by Usagi giving him a solid open-hander later on in the episode.
</p>
<p>
    Usagi and Mamoru's adversial relationship is developed a bit more, too. If somehow you're too
    stupid to realise that he's Tuxedo Mask by now, the fact that he has appeared in front of the
    evil villain base five episodes in a row should really key you into it at this point. It's
    especially showcased during the later fight when she straight up asks when Tuxedo Mask is
    coming to save her.
</p>
<br/>
<p>
    My favourite part of the episode is the incredible visual design and animation of Usagi
    appearing at the pet shop circa 18 minutes in; the show is really showcasing its visual design
    and visual language here.
</p>
<br/>
<p>
    Overall, this is a decent filler episode with no objectionable qualities, although a very
    stupid overall plot hampers it a bit. I give it a 4/5 as a result, with an extra point
    given for the one shot of Sailor Moon in the doorway.
</p>
<p style="font-size: 10%">Don't let the evil Chanela distract you from the fact that Pekora bought a fucking monkey</p>
{{ review_footer() }}