{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(7) }}
<p>
    This is the second time I'm watching Sailor Moon; this time after 4 years (in case that wasn't
    clear before). For most episodes I have a vague recollection of what happened when I watched
    it last time. But this one? It's a complete void.
</p>
<p>
    Look. I genuinely really have nothing to say about this episode. It's funny to a degree, but
    it focuses on Usagi's early friends pre-the other Senshis and is otherwise completely missable.
    It takes too long to get going, and the best part is when Usagi and Naru were dancing to
    Moonlight Densetsu, as well as crossdressing Umino.
</p>
<br/>
<p>
    Errata: I noticed this at the time but forgot to put it in; this is actually the first episode
    that changes from the front-hand Usagi transformation sequence to the back-handed sequence with
    the nail polish, used in the rest of the show as well as in Crystal.
</p>
<br/>
<p>
    I give it a 2.5/5 for being completely inoffensively... <em>there</em>. As well as having
    one of my favourite Tuxedo Mask roses.
</p>
{{ review_footer() }}