{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(6) }}
<p>
    I marked this episode as mandatory - but I lied. This episode is mandatory, but it should be,
    because it is a genuinely brilliant episode.
</p>
<p>
    I'm not an overall fan of the first series, to be quite honest. I think the pacing is pretty
    bad in places, for example. But this episode is where the first series really hits its stride
    for the first time.
</p>
<br/>
<p>
    First off, visually speaking, this episode is absolutely gorgeous. If you've ever wondered
    where people's love for "90s anime aesthetics" comes from, this episode is somewhere near the
    root of it.
</p>
<p>
    The colours are vivid, the artwork and animation is great essentially everywhere, and the music
    is amazing - although, that bit is to be expected for a music-based episode. It's so full of
    incredible shots that it was genuinely difficult to figure out which one I wanted to use for the
    preview image. In terms of visual design, it's unrivalled throughout the majority of the series.
    That's just genuinely how good it is.
</p>
<p>
    I really can't do justice to it through text - just watch the episode.
</p>
<br/>
<p>
    Plot wise, it's pretty formulaic - which is, of course, not a bad thing! It's one of the only
    usages of Usagi's disguise pen again, too. The side character and his struggle
    is very compelling, compared to most other side characters in the show, where they're either
    straight up arseholes or personality voids.
</p>
<br/>
<p>
    Overall, I'm giving this episode a 5/5. It's filler, but it's good filler. It's visually
    impressive, the plot is fine, and the ending fight is great - it's an all around great
    episode.
</p>
{{ review_footer() }}