{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(1) }}
<p>
    The very first episode of Sailor Moon. This is where it all started. And for a first
    outing, it's <span style="color: lime">really quite good.</span>
</p>
<br/>
<p>
    The first thing to note is the animation and visual style. A lot of people (especially those
    born after the 1990s) are big fans of the 1990s anime style, and Sailor Moon is almost
    definitely where people would first develop that.
</p>
<p>
    Suffice to say - <em style="color: green">it is beautiful.</em> The vibrant colour palette
    pops out everywhere, creating a sense that the entire of Tokyo is in permanent summer.
    Sailor Moon is one of those early shows that had an extreme variation in animation style -
    with tens of different  animation directors varying per episode - but the first episode
    is expressive and well-animated.
</p>
<br/>
<p>
    The plot is fairly basic - Usagi discovers a magical talking cat who gives her the power
    to transform, and she overcomes her crybabyness through the encouragement of Tuxedo Mask
    to defeat the enemy using her Special Move of the season. The formula doesn't change
    until the plot-critical episodes, so expect this to be repeated a lot.
</p>
<p>
    This episode introduces some side characters as well. Usagi's school friends make their
    first appearance as a key part of the plot, with the nerdy glasses guy and the regular other
    friend. Bluntly, they're forgettable (as I can't even remember their names not even 5
    minutes later) and they eventually end up on a bus for a few years anyway - they're just
    filler characters before the other four inner Senshis appear.
</p>
<p>
    Usagi's family is also introduced, and whilst they play a bigger part throughout the
    whole of the series they quickly get dropped outside of tiny cameos later on, which is a
    shame. The episode also introduces Tuxedo Mask; who I'll get into in later reviews.
</p>
<br/>
<p>
    Overall, this is a great first episode to ease you in to watching the next 199 episodes.
    I give this episode a 5/5.
</p>
{{ review_footer() }}