{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(18) }}
<p>
    Hey! Remember Usagi's family? They showed up last episode! Usagi has a younger brother! He has
    another episode focusing on him today, but this time with creepy dolls added to the mix too.
</p>
<br/>
<p>
    This episode starts out with Nephrite telling Gay Jadeite "fuck you + kys", which is apparently
    part of Gay Jadeite's evil plan. Then it cuts to Usagi bullying Shingo for having a
    girlfriend, which is - as we all know - incredibly embarrassing. Some girls confront him about
    why he's so mean, and the answer is that he got bullied for having a girlfriend. He then gives
    this girl PTSD by not accepting her creepy doll. Usagi promises to go beat the snot out of him.
</p>
<p>
    We then cut to the genius 8-year-old in her dark bedroom with panning shots of all her other
    creepy dolls; a scene which feels like it was written for a teenager and not a little kid.
    Obviously, this means she's going to be the next target for Nephrite's evilness. I've got to
    credit the writers here for somehow coming up with some compelling astrological technobabble
    here.
</p>
<p>
    Nephrite drives along in his fast car - which I fucking love, by the way - to talk to the
    little girl doll maker so that he can install a monster in her ugly ugly doll. The expression
    transition here is clearly meant to be horrifying, but they animated it in what is one of the
    funniest bits of animation in the whole show so far.
</p>
<p>
    Again, we have this weird tonal dissonance in that the episode feels like it was written for
    a teenager but then changed later on to focus on a younger girl, with her suddenly becoming a
    workaholic and assaulting her own mother. The episode ends up with a random tangent of
    Rei/Mamoru, who apparently continued the dates after the last time, as a particularly contrived
    mechanism to allow Rei to appear at the museum where the showdown happens.
</p>
<br/>
<p>
    I essentially see no reason for this episode to focus on Usagi's brother; it's like his last
    episode except in reverse. It would've worked just fine focusing on the doll maker side
    character instead. The only reason Usagi's brother was even added was seemingly to let Usagi
    end up at the museum, but they already had Rei/Mamoru used as the excuse for Mars.
</p>
<p>
    The tone is all over the place here today. The dollmaker is a kid? Why? It feels entirely
    written around her being a teenager or younger adult instead. Also, Usagi's speech has the music
    in entirely the wrong places.
</p>
<br/>
<p>
    I give this episode a 2.5/5. It's forgettable and uses a forgettable character, the tone is
    completely wrong, the set up of the characteers is contrived, and the music is completely wrong
    in multiple places. I like the creepiness factor of the dolls, though.
</p>
{{ review_footer() }}