{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(12) }}
<p>
    <em>What I say when I'm happy:</em> You have done well, Jadeite, in gathering the humans' energy.
</p>
<p>
    <em>What I say when I'm sad:</em> This time I'm really gonna do it.
</p>
<br/>
<p>
    Jadeite finally correctly surmises that, after 12 straight weeks<sup>[1]</sup> of his evil
    plans being thwarted, that the Sailor Senshis are the problem. Unfortunately, he doesn't really
    act on this yet, instead talking to his lovey-dovey Monster-of-the-Week.
</p>
<p>
    This episode is set up around going on a romantic cruise - or, more specifically, Usagi wanting
    to go on said romantic cruise. She goes to a lottery in town to try and win tickets - which she
    obviously fails at - whilst Rei sneers at her about such pointless frivolities. Rei then cheats
    to win the tickets, and refuses to invite Usagi along, thus completing her transition from
    "magical shrine maiden" to "total bitch".
</p>
<p>
    Usagi sneaks onto the ship anyway after Rei invites Ami onto the ship, and the engine room is
    ominously quiet (although we already know the ship is fake). Rei concocts a plan to emotionally
    manipulate random men who got dumped - I like the juxtaposition of her moral warrior persona
    when it comes to Usagi and an evil 14-year-old elsewhere; it works a lot better than the last
    episode, especially when her own bitchiness causes her downfall and Usagi has to save her.
</p>
<br/>
<p>
    Unfortunately, Jadeite reaches new heights of stupidity in this episode. There's a bunch of
    Senshis who turn up to thwart literally every single one of his plans every time, and he
    finds a random girl who has bad vibes but doesn't seem to care much. Like, okay, this is a kids
    show but even that breaks my suspension of disbelief a lot.
</p>
<br/>
<p>
    My personal animation highlight is Usagi entering the ship in a shitty RPG style, literally
    disappearing. Also, we get random shots of Totally-Not-Sailor-Venus a few times? Also also,
    I love how Queen Beryl has no expression whatsoever when scolding Jadeite.
</p>
<br/>
<p>
    I give this episode a 4.5/5; it's very fun and seeing Rei step on a rake is thoroughly
    enjoyable after last episode.
</p>
<p>
    <sup>
        [1]: I'm not sure about the conversion of real-world to Sailor Moon time, as I think the
        series takes place over about 2 years in-universe, even if there's one episode every week
        for six years straight in real life.
    </sup>
</p>
{{ review_footer() }}