{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(15) }}
<p>
    Hey. Did you remember that silly plot thread in episode 11 where Rei found Mamoru attractive?
    That was four weeks ago. Did you remember? Because the writers sure fucking did!
</p>
<p>
    After fourteen full episodes, the writers suddenly remember that Mamoru is an important
    character, and decide to bring him in. The episode opens with Luna almost getting run over
    (inshallah) and Mamoru saving her, which causes Usagi to get really upset. Then, it turns out
    that Motoki (remember him?) and Mamoru are friends, which causes Usagi to get even more
    really upset.
</p>
<p>
    Meanwhile, Nephrite has divined his next victim: The groundskeeper from the first part of
    the episode. Rei (the second year middle school student) has decided to go on a date with Mamoru
    (the college student), for as far as I can tell seemingly no reason. Nephrite radicalises
    the groundskeeper into an ecoterrorist. This episode is truly a bastion of morality.
</p>
<p>
    Rei's master plan is to deliberately walk into Mamoru, and somehow he'll instantly fall in love
    with her there. In reality, she trips over, he steps on her head accidentally, and then she
    awkwardly asks him out to a coffee date, which Usagi tries to spy on with the help of Umino.
    Ami hasn't been around for a few minutes so she shows up; Luna says she looks "down" whilst
    panning an expression that looks like Ami just came off a manic episode.
</p>
<p>
    The next scene has a laser eye squirrel which is some incredible foresight on humour 30 years
    early, and then cuts to Rei and Mamoru on a romantic paddle boat in the middle of the lake.
    The ecoterrorist groundskeeper then attacks Usagi and Ami using the powers of the Snow White
    Devil. Mamoru gets a nasty headache as Sailor Moon transforms...
</p>
<br/>
<p>
    Let's get the elephant in the room out of the way. I'm not here to pontificate on the
    relationship between a 14 year old and an ~18 year old. I don't care. They're not real people.
    People love to hold this show up as like a bastion of progressivism in 90s anime, but it's
    really not - they do the Evil Gays thing like five times! And, sure, the show loves to say how
    it's immoral and wrong a bunch of times but Usagi and Mamoru end up together anyway so it's
    just being hypocritical at this point. This is the one and only time I will talk about Mamoru
    and his various relationships.
</p>
<p>
    Ignoring that, Rei and Mamoru's interactions are extremely funny and one of the highlights of
    this episode. It's very clear that Mamoru wants absolutely nothing to do with Rei, and whilst
    the meta reason for the date was purely to piss off Usagi it does annoy me that Rei asks this
    guy out out of nowhere. This is a very important episode for Mamoru as it starts to hint towards
    his true nature.
</p>
<p>
    It's kinda sad that the groundskeeper's evil part was essentially sidelined the entire episode
    by Rei/Mamoru; his actual ecoterrorism was entirely off-screen, compared to the
    last episode which directly showed the consequences of Nephrite's meddling with the side
    character. Other than that, every single character is utilised incredibly well and this episode
    is a great example of filler done right.
</p>
<br/>
<p>
    Overall, I give this episode a 4.5/5; it's an extremely enjoyable episode that develops Ami and
    Rei a bunch, as well as giving more to Mamoru/Tuxedo Mask. The half a point is docked for Usagi
    being really annoying this episode.
</p>
{{ review_footer() }}