{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(17) }}
<p>
    Today's episode: a middle school photography prodigy takes photographs of middle school girls
    in their swimsuits.
</p>
<br/>
<p>
    When an anime is adapting a manga, it will typically adapt anywhere from three to six chapters
    per episode. The vast majority of of mangas release either weekly or monthly. You can do your
    own maths here to understand that this is an unsustainable prospect.
</p>
<p>
    If you're familiar with modern shows, then there will be massive gaps between seasons in order
    for the manga author to draw more chapters. This is the overwhelming way most adaptations are
    written these days, even including the really, really popular ones. But some shows operate
    differently - instead of just waiting for the author to write between seasons, they just start
    writing their own original episodes. These episodes are what we call filler episodes.
</p>
<p>
    I like filler! Sailor Moon's heart and soul is filler. Without filler, this show wouldn't be half
    the show it is - and that's why I don't care about Crystal at all. The filler lets the
    characters develop more throughout the various different scenarios, and it lets the plot be
    spread out to let it flow more naturally.
</p>
<p>
    In order for this to work, the filler has to be interesting - it has to be engaging! And herein
    lies the problem with this episode: it is boring. The subject matter, despite what it sounds
    like from the start, is completely unoffensive and boring. The other Senshis appear randomly at
    the end of the episode to (fail to) save the day, and whilst the final solution to defeat the
    enemy is clever, the rest of the fight is undynamic and boring. It's a money-saving excercise
    in terms of animation.
</p>
<p>
    Perhaps I'm being too harsh on this episode - as I'm sure some of my other critiques might
    apply to some of the other filler episodes. But the difference is that I usually liked the
    other episodes, and I hated this one. The only redeeming qualities are Usagi and Mamoru's
    interactions, as well as Gay Jadeite (zoisite) appearing randomly at the end of the episode.
    But otherwise, I give this episode a 0.5/5 for just being thoroughly unenjoyable and forgetful.
</p>
{{ review_footer() }}