{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(10) }}
<p>
    <span style="color: red">It's time for Sailor Mars.</span> You can tell this episode is a plot
    episode immediately, as they mention the otherwise forgotten Silver Crystal right at the start.
    There's a shrine maiden there with strong spiritual powers? I mean, if the title didn't give it
    away, you can almost immediately tell there's something fucky going on here.
</p>
<p>
    Rei personally oscillates between one of my most and one of my least liked senshis in the
    show. In this episode, she's really good, but half of the time she's a complete and utter bitch
    towards Usagi for no real reason for most of Classic.
</p>
<p>
    The concept of a suddenly missing bus is really cool in my opinion, and one of the best
    monster-of-the-weeks up to this episode so far. The surreal nature of it disappearing is animated
    pretty well, as is the Bus Dimension.
</p>
<br/>
<p>
    Mars' first transformation is definitely one of my favourites, and her first attack - if
    weirdly named - is one of the best attacks in the show. I also like how it was implied
    Ami spent their entire evening on her knees in front of the bus stop, and that it took another
    6 hours to drive all the busses out of the dimension. Also, Tuxedo Mask just appeared from
    literally nowhere.
</p>
<p>
    There's not much more to say about this episode. It's amusing, Jadeite's pathetic attempt at
    disgusting is hilarious, and I love the bus dimension. Unfortunately, Usagi's crybabyness is
    starting to get really grating by this point. I know she gets better later on, but it's still
    annoying sitting through it now. Rei is a good counterbalance to this, though, with her serious
    shrine maiden demeanor.
</p>
<br/>
<p>
    Overall, I give this episode a 4/5. It's a decently good plot episode.
</p>
{{ review_footer() }}