{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(13) }}
<h3 style="color: lime">JADEITE FUCKING DIES.</h3>
<p>
    The cycle of Sailor Moon is thus so:
</p>
<ol>
    <li>The main villain delegates to an underling.</li>
    <li>The underling repeatedly messes up due to the Senshis.</li>
    <li>The main villain releases that their underling sucks.</li>
    <li>The underling dies.</li>
</ol>
<p>
    This cycle consistently repeats itself throughout all 5 series, and it does make you wonder why
    the main villains even bother delegating, given that they usually could swat the Senshis away
    within the first episode or so.
</p>
<p>
    This time, the cycle comes for Jadeite, the big bad of the first thirteen episodes. Quite
    frankly, I think it's embarrassing it took him three months to decide to actually go after
    the Senshis, but terrorism is a pretty tried-and-true strategy.
</p>
<br/>
<p>
    The episode opens with Usagi wistfully looking at the stars and identifying the constellations,
    including two for her unrequited crushes. Luna is also a dick to her for no real reason, but
    that's nothing new. Jadeite appears Wizard of Oz style, threatening to burn Tokyo to the ground
    if the Senshis don't appear, and Usagi kicks a shoe onto Mamoru's head (again) who insults her
    so brutally she breaks down in the street crying. I'm really not sure why they had it out so
    badly for Usagi in Classic.
</p>
<p>
    Bafflingly, they decide to go to the airport in their non-transformed form, which sets up half of
    the conflict for the episode wherein they make up in the middle of a massive open space where
    Jadeite can see them. It's actually not explicitly stated before this that they need to keep
    their identities secret but it's a plot point here today that sets the precedent. They manage
    to get a scene of Rei being pointlessly mean to Usagi in too.
</p>
<p>
    Then the Senshis start running away from aeroplanes. In straight lines. Ignoring how stupid that
    is, what's the threat here? Tuxedo Mask and Jadeite start spinning around eachother, then they
    jump into the ocean, and then somehow, Jadeite returns, and starts being really misogynistic,
    and then the aeroplane starts going again, and then they split up and Rei attacks Jadeite and
    then the planes start going towards him and it's all really awesome and epic and then he dies.
</p>
<br/>
<p>
    The overall plot is a bit of a nonsensical disaster but I can look past that as it's a kids
    show, and most Sailor Moon episodes could be solved very early on with just a minor amount of
    critical thinking on behalf of either the villains of the main characters, but that would be
    extremely boring to watch.
</p>
<p>
    The moral message here is cute, especially with Tuxedo Mask directly trying to take down
    Jadeite and giving the senshis the inspiration to fight him directly instead of having to rely
    on Tuxedo Mask to win their battles. It's a good departure from the mixed moral messages of some
    of the earlier episodes. On the other hand, I really hate how they had to use Usagi as a
    punching bag AGAIN for Rei - it's a common thread all the way throughout Classic but it seems
    particularly pointless when they're fighting literally the current Big Bad!
</p>
<br/>
<p>
    Animation-wise, everyone in this episode has one hell of a chin! It's visually utterly
    incredible, with the heavy purples and blues this show is known for really coming to a head
    throughout the airport scenes. But for a surprisingly important episode the animation itself
    is terrible - I swear they reused the once face shot of Rei like three times.
</p>
<br/>
<p>
    I give this episode a 4/5 because whilst the plot is stupid and nonsensical it's a pretty
    fun episode to watch, and whilst the animation is subpar visually it's beautiful and is yet
    another example of what makes Classic such an aesthetically appealing show.
</p>
{{ review_footer() }}