{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(21) }}
<p>
    If you've made it this far - congratulations! You've officially watched a full 10% of Sailor
    Moon (well, ignoring the movies). The worst part of the entire show is over (aside from SuperS,
    but sunk cost fallacy will carry you through that anyway).
</p>
<p>
    In an extremely meta episode, this one is about anime. The episode starts off with Usagi
    complaining about how Sailor Venus gets her own anime and Usagi doesn't. Snap cut to a pair of
    animators who are working on Sailor V, who are being told by their animation director that their
    cel isn't sexy enough (in veiled words). These animators are Nephrite's next victim, who
    drives past Ami (who somehow recognises him?) in his awesome Ferrari Testarossa.
</p>
<p>
    The animators flash back to them buying some special expensive pencils together that are only
    meant to be used for special animation, but - surprise! - it turns out one of them (Hiromi) has
    been using their pencils more than she should have. Nephrite then shows up and convinces her
    pencil over to the dark side, and Hiromi does this bizarrely comedic head turn towards her
    other animator friend (Kazuko).
</p>
<p>
    The Senshis decide to visit the animation studio where the monster resides, and whilst Rei
    initially denies it for literally no reason other to be annoying, she immediately gets screwed
    by her autograph boards (???) falling out of her bag. For some reason, out of literally anyone,
    Ami scolds her for being a hypocrite which seems really out of character. I don't know why the
    studio randomly set in a bunch of fans but the evil animator comes in to complain about Usagi &
    co, then tells the director that she's going to be killing off Sailor V.
</p>
<p>
    I assume in the Toei universe, underling animators don't get immediately fired for making
    writing decisions. Hiromi has a minor crisis over her inferiority to Kazuko, and the evil pencil
    activates and TWO monsters appear!
</p>
<br/>
<p>
    This episode has by far the coolest group transformation of the series, maybe even the entire
    show, with a cutaway of the Senshis' faces as well as the stock footage cutting in and out
    between each member. I wish they kept this for the later seasons, as those group transformations
    usually just had them all making up one-after-the other; and the prism/inners first
    transformation kinda sucks anyway compared to their upgraded transformations. I could only
    imagine how much better this would be with the Cosmic Make Up music applied!
</p>
<p>
    Plot-wise, this episode is pretty cute to watch. I'm surprised a meta episode like this even
    got approved, with the evil sexualising director character presumably being a stand-in for
    whatever Toei higher up the key animators particularly disliked. I like how the monsters were
    defeated because they couldn't stop bickering over who would do what, which is probably the
    strongest case of mirroring the side character plot so far. Also, what the fuck is that music
    during their attacks?
</p>
<br/>
<p>
    I give this episode a 4/5 for being a consistent filler episode with a adorable message and
    set of side characters.
</p>
{{ review_footer() }}