{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(29) }}
<p>
    Hey. Remember Motoki? The blond bishy that Usagi liked at the start before Tuxedo Mask? He's
    Mamoru's friend, and he still exists. We finally get an episode focused around him! He has
    a girlfriend! I vividly remember this episode for some reason, down to the plot points and
    even some of the final fights.
</p>
<hr/>
<p>
    If you had "five episodes in a row starting with the Dark Kingdom" on your bingo card then I'm
    really, really sorry as the episode does not open with the Dark Kingdom. Instead, we open this
    episode with Mako to start her focus episode; I am really not sure why we're focusing on Mako
    this time given that 1. Motoki is Usagi's guy and 2. she JUST joined the cast literally like
    three-four weeks ago. As it turns out, Motoki has a girlfriend! She's going to Africa!
    She's studying where life originated on Earth! She's having trouble making up her mind! You can
    see the plot developing here instantly.
</p>
<p>
    My mind is going numb from mainlining like twenty episodes of Sailor Moon filler so I
    steadfastly refuse to write a full review for a love triangle filler episode that has
    absolutely nothing going aside from a few moments of comedy. Usagi and Mako conspire to ruin
    Motoki's relationship, she turns into a monster, something something Gay Jadeite. Reika's
    only characterisation is being Motoki's girlfriend. Two point five out of five.
    Decently entertaining but completely skippable. I guess it might work with the target audience
    (i.e. not me) but I'm the one reviewing here!
</p>
{{ review_footer() }}
