{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(25) }}
<p>
    Man, I sure do love the inner planets of the Solar system. We've got Mercury, the tidally locked
    fire planet. We've got Venus, our future terraforming candidate. We've got the Earth-Moon
    system, our home. We've got Mars, our scientific curiosity. The inners are so great.
</p>
<p>
    Huh? Jupiter? Jupiter's not an inner planet. Why do you mention Jupiter?
</p>
<p>
    Oh, it's because Jupiter becomes one of the inner senshis this episode! My favourite inner
    planet! Jupiter! Fucking Jupiter!
</p>
<hr/>
<p>
    Today's episode starts off with Queen Beryl... actually using the mystical human energy they've
    gathered? You mean this wasn't a random plot device that they were using for the last twenty
    four episodes? Queen Beryl uses this to wake Queen Metalia, who helpfully tells Beryl that
    she needs the mystical Silver Crystal, as well as some other crystals. In what is some really
    fantastic tonal whiplash from last episode, we get Usagi running into a bunch of conmen around
    a corner in a comedic scene, who then get beaten up by some mysterious girl. This is a very good
    continuation of Naru crying her heart out one week ago.
</p>
<p>
    In this case, the girl happens to be Makoto Kino (more like Makoto "Peak" Kino!), aka Sailor
    Jupiter (spoilers!). I take back making fun of Jupiter not being an inner - she sure fits the
    title being like seven foot tall and having the brute strength to take down a bunch of jacked
    roiders in one hit. We get some info dumping about the Legendary Seven Great Warriors, who
    are allegedly the Dark Kingdom's strongest monsters but yet are not strong enough not to be put
    in gay baby jail on Earth. This is how the next seven episodes will go, in case you can't
    immediately tell. This also has something to do with the mystical Silver Crystal because why
    not?
</p>
<p>
    It turns out Makoto goes to Usagi's school as of today, which is of course extremely
    convenient. They share some cute scenes over lunch and at the arcade, as well as Usagi and Rei
    getting in a pissing match almost immediately as we completely forgot about that over the last
    few episodes. The side character of the day is cheating at the crane game - and Mako has a
    sudden lust over him out of nowhere. I actually completely forgot about this weird part of her
    character - the random pining for some "senpai" - mostly because it gets dropped really quickly
    (good, it was a shit character trait). Gay Jadeite turns up to fuck up the crane guy, and Mako
    interferes, managing to scar his poor bishonen face.
</p>
<p>
    Zoisite then re-appears to fuck up the crane guy again at a coffee shop, which turns him into
    a half-monster half-human hybrid <span class="s">devil</span> who Usagi can't kill directly.
    So now we get our first upgrade!!!!! Fuck yes!!!!!!!!!! Usagi gets the Moon Stick, which she
    can use to do her second tier attack to purify the monsters directly. This style of attack
    is how the show carries on from here; with Usagi using a weapon indirectly and the monster
    saying a stupid fucking word rather than just being bodied by her tiara.
</p>
<hr/>
<p>
    This is a really solid first episode for a new Senshi. I do quite like Mako/Jupiter and she
    showcases her strength and solid Jupiter-esque powers really well this episode. The plot works
    out well enough, and I welcome any episode with Gay Jadeite in it. It gets a 4/5 for me.
</p>
{{ review_footer() }}