{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(22) }}
<p>
    This is ALSO not the Drunk Usagi episode. I'm not really sure why drunk Usagi stands out in
    my mind so much that I've mixed it up with an episode twice now, but I don't really remember
    this episode much aside from not being that episode.
</p>
<br/>
<p>
    We start off by picking up the Naru/Nephrite subplot after a few episodes, flashing back to
    her realising that Nephrite isn't really Tuxedo Mask and feeling used. She's dropped into a
    depression as Umino explains the plot set up for this episode: a ball set up by a South African
    (kingdom of diamonds, innit) princess. Naru already has an invitation, and Nephrite wants to
    meddle in the ball over the complaints of Gay Jadeite, whilst Queen Beryl secretly plans to
    fuck Nephrite up.
</p>
<p>
    We also get some more EVIL GAYS action with Gay Jadeite and Turqoise Daddy, and Luna reminds the
    senshis they actually have a mission (trying to find the princess). Rei yells at Usagi for not
    being willing enough to break and enter a fucking royal ball for some reason. Have I mentioned
    before that I really hate Rei in Classic? Also it appears literally everyone but Usagi and co
    have an invite to this ball.
</p>
<p>
    Usagi FINALLY overrides Luna's warnings not to misuse the transformation pen by using the
    transformation pen for nefarious purposes, and gains access to the ball purely through just
    barging her way in without a reservation. I have no fucking clue how Nephrite made it to the
    party, or how Naru doesn't recognise him unless he takes his eye mask off, but whatever.
</p>
<p>
    This episode gives some pretty substantial backstory to Mamoru/Tuxedo Mask, too. It's clear he
    has some sort of disassociation where he can't remember he's one of the two between states,
    and now he's searching for the Silver Crystal (that the bad guys are also looking for) to figure
    out who he really is.
</p>
<p>
    Naru says "I don't care what happens tonight" with the appropriate expression on her face for
    when a sex offender is in love with you, and then Nephrite infects her with the evil monster of
    evil. Tuxedo Mask and Usagi finally get to interact outside of batte, and this triggers some
    severe deja vu on their behalf. We finally get to see what Princess Diamond looks like, and she
    looks like... Umino? She also gets infected, something to do with an umbrella, did you remember
    Ami and Rei exists? The episode plays out mostly the same from here.
</p>
<br/>
<p>
    I like that we finally start to explore Mamoru/Tuxedo Mask's actual history and purpose,
    such as that he's also searching for the mysterious Silver Crystal and that he clearly knows
    Usagi more than he let on. Nephrite continues being a vastly more interesting villain than
    Jadeite with plans actually targeting the Senshis earlier than the very last episode.
</p>
<p>
    Unfortunately, this episode is pretty forgettable other than the actual backstory. It certainly
    doesn't help that it took me about three hours to finish this episode, though. 2.5/5.
</p>
{{ review_footer() }}
