{% from "reviews/_macros.html" import review_header, review_footer %}

{{ review_header(32) }}
<p>
    I've repeatedly stated that Umino and Naru get put on a bus (sorry for being a TV Tropes user :/)
    hitherto, but the show keeps proving me wrong by giving them even more episodes. I promise I'm
    not lying! They really do fuck off eventually, which is great if you're like me and find them
    worse than the Senshi focused episodes.
</p>
<hr/>
<p>
    The time for all five Sailor Senshis to come together is upon us. Well, not quite - that's going
    to happen next episode. Instead, we get a tiny bit of exposition about the Moon Kingdom, wherein
    it - oh wait, that's it. Turns out there was a kingdom on the moon, and the princess everyone
    is searching for comes from the moon! Gee, I sure wonder if there's any connection between
    Usagi <strong>TSUKI</strong>no/Sailor <strong>MOON</strong> and the <strong>MOON</strong>
    kingdom! It's a bit more obvious in the original English dub, where Usagi is renamed to
    Serena (and they're looking for Princess Serenity...)
</p>
<hr/>
<p>
    I'll be completely honest; I don't care about Naru or Umino. They're one-note characters, with
    Naru being civilian Usagi 2 and Umino being a generic nerdy boy who likes Naru. Neither of them
    get any time to really have any on-screen development; Naru's arc with Nephrite is entirely
    undone within two episodes afterwards and Umino is just a combination of an exposition machine
    and the love interest for Naru. They get some off-screen development before their last
    real appearance two years later at least.
</p>
<p>
    If you're not a fan of the two characters here - and I am not - this episode has very little
    to offer other than some really pretty shots of Gay Jadeite and some funny shots of Tuxedo
    Umino Mask. This episode also spends the absolute least amount of effort deciding when to have
    Usagi transform; it just straight up cuts from one scene with Umino to her making up with
    absolutely no transition. At least we're starting to get to the last episodes of this stupid
    arc. I give this episode a 2/5 for being at least slightly entertaining, even if I really
    don't care about it at all.
</p>
{{ review_footer() }}
