{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 40 %}

{% block review %}
<p>
    Forty episodes! We're now 20% of the way through the show, or a fifth! And what better way to
    celebrate it with a particularly emotional bit of filler this week, featuring Usagi's
    long-forgotten family. I don't think they've been seen since episode 22 or so!
</p>
<hr/>
<p>
    Usagi and her family are taking a trip to a hot springs alone - without even Luna! They
    helpfully leave her a note (?) to explain this (I love the absurdity of leaving a cat a written
    note!). My Ando art style alarm is going off immediately, and I also notice that apparently
    neither Usagi nor her brother are wearing seatbelts. Oh, the beautiful 90s - such a good time
    for child mortality.
</p>
<p>
    Now, I'm from the UK. We don't have hot springs here, being a geologically inactive island.
    Hot springs aren't part of our culture. It seems to be a pretty big part of Japan's culture,
    at least, hence why every fucking show seems to have a hot springs episode with the primary
    purpose to have the male characters be perverts and to ogle the naked female characters from
    behind. Thankfully, Sailor Moon mostly avoids this trope by turning it into just a bit of
    family fun instead, and I prefer this take on it instead because I'm not a weird pervert!
</p>
<p>
    It turns out that the island is emitting a strange energy signal, similar to the Dark Kingdom's
    monsters, and Queen Beryl sends Mamoru to investigate it. We also get a key line about his
    memory being wiped, which explains why he doesn't immediately jump at Usagi when they meet
    on the island. It's a touching scene, with Mamoru having no clue who she is despite the music
    box melody "stirring his heart" (said in the coldest, most clinical tone possible by Mamoru's
    voice actor there). We get some sort of mythology about the monster of the lake, which Mamoru
    promptly decides to summon; I'm really not sure what the goal is here other than to just cause
    a bunch of chaos. Obviously it then targets Usagi, but Tuxedo Mask arrives to protect her and
    her family. Then the other four Senshis fucking show up out of nowhere because they need some
    fucking screentime and I genuinely absolutely hate that they made them show up!!!!!!
</p>
<hr/>
<p>
    This episode hits most of the emotional beats really well; Usagi and Mamoru's scene is really
    well done and you really feel for Usagi here. Mamoru's desire to save innocent citizens shows
    his conflict of trying to be a good person whilst still working for the Dark Kingdom and
    targeting the Senshis, but oh my fucking god I absolutely genuinely despise that they shoehorned
    the other four into this episode out of nowhere! This would've hit so much harder if they left
    it with just Usagi and Mamoru, but no!!
</p>
<p>
    Despite that, I have to give this episode a 3.5/5 for being otherwise enjoyable and landing the
    emotional scenes really well, especially with Mamoru's inner conflict. It would've gotten a
    higher rating if it wasn't for adding the other Senshis!!!!!!!!!!!
</p>
{% endblock %}