{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 2 %}

{% block review %}
<p>
    This is the first filler episode of the show, and it happens to immediately step on a nail.
    It's understandable why this show needed filler; the manga wasn't actually released by
    the time the show aired, and the author had yet to even write anything further.
</p>
<p>
    Unfortunately, this episode is one of what I consider Sailor Moon's "identity crisis"
    episodes. See, the show - at first - really couldn't seem to decide if it wanted to be a
    kids show or a show for 12-14 year olds. The plot is formulaic and repetitive, but this
    episode's midpoint starts with sexual assault and a gratuitous panty shot. Great!
</p>
<br/>
<p>
    The actual plot is that a fortune teller monster created by the bad guys is causing all the
    kids who have their fortune told to lose restraint in their actions - to do "what they want"
    - and thus all become complete arseholes. The focus here is on Umino, one of Usagi's friends
    introduced last episode, who's "rebellious youth energy" consists of sexual assault on
    his teacher.
</p>
<p>
    I really don't see why that was necessary or who it even appeals to. What's the message
    here? Teenage boys are one bad influence away from flipping up their teachers' skirts?
    Most filler in this show ends up with some character development of some sort - less so in
    the first series, mind - but what development is there from this?
</p>
<br/>
<p>
    As an aside, this episode also introduces the pretty bishōnen Motoki, Usagi's love interest
    in the show. He works at the arcade here, and Usagi is head-over-heels for him for most
    of the first half of the series. It's a shame he never really does anything and essentially
    disappears off-screen later on.
</p>
<br/>
<p>
    This is certainly not the worst filler episode - that's yet to come - but it leaves a bad
    taste in my mouth. There's no real reason to watch this episode unless you're trying to
    watch them all. I give it a 1.5/5 - the .5 for Motoki.
</p>
{% endblock %}
