{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 9 %}

{% block review %}
<p>
    <strong style="color: aqua">NERD GLASSES TIME.</strong>
</p>
<p>
    This filler is sandwiched between two important episodes, so it stands out rather bizarrely.
    Also, it's a filler episode based around clocks. More specifically, a clock that looks like
    Luna! What could possibly go wrong? As it turns out, the clocks make everyone irritable and
    hypomanic. The villains are preying on the ultimate evil: productivity!
</p>
<p>
    The comedy in this episode is very slapstick with the car crashes, Usagi fucking bursting a hole
    through the shop door, and the general temperament of all the characters. I think there was a
    missed opportunity not to run the transformation stock footage at higher speed, though.
</p>
<br/>
<p>
    The animation is baffling in this episode, though. It's nice to see the first dual-senshi
    justice speech, although it's very weak with only one. The design of the Salvador Dali clock
    world is pretty cool - I'm a sucker for surrealistic environments like that - but there's a
    scene where Ami is animated speaking but without actually saying anything. Also, she gets
    cool nerd glasses out of nowhere.
</p>
<p>
    As an aside, one of the highlights for me is when Usagi is crying in the clock store about
    not being able to afford the clock, and the music includes clock ticking. Also, for some reason,
    Usagi's parents sleep in separate beds.
</p>
<p>
    Nothing about this episode really stands out to me. It's
    perhaps a victim of its placement in the series, where Ami was introduced so late at episode 8.
    I give it a 1.5/5 for being forgettable and relatively uninteresting - with half a point
    docked for just never explaining why the clock looked like Luna.
</p>
{% endblock %}