{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 60 %}

{% block review %}
<p>
    The pink goblin creature introduced in this episode is Chibiusa - Usagi's daughter (?) from the
    far future (?). Opinions on her in the wider Sailor Moon community are divided. Some people -
    presumably, those who grew up actually watching thee show as a kid - think she's a welcome
    addition to the show that brings it back to its root as a kids show by introducing a character
    that is more familiar to the perspective of the audience.
</p>
<p>
    Others, like me, think she is the first incarnation of pure evil and the first Harbinger of
    Ruin and she makes the two series that she's the focal character in significantly worse as a
    result. You should make your own opinion, but I suspect anyone above the age of about eight will
    generally agree with me.
</p>
<hr/>
<p>
    If you're an Usagi/Mamoru shipper then this episode is the first little trinket of goodness that
    the show has offered for a year and a half (and also the only one it will offer for about a
    year again). However, your minor moment of bliss is interrupted by a lovely (?) father/daughter
    kiss and Chibiusa threatening to kill Usagi instead. I believe this is in fact her most mature
    moment across the entire three years. Also, if you thought that kiss was just a cute family
    thing - no. This six year old girl has an extremely uncomfortable sexual urge for her past
    father - a sentence I never believed I would have to type out. I don't think this is very
    untypical for mid 90s shoujo, but nevertheless. It will be developed more over the course of R.
    It does not get any less creepy.
</p>
<p>
    It turns out Chibiusa is able to brainwash people (what a capable six year old!) and brainwashed
    Usagi's family into believing that she's Usagi's cousin - including a massive collection of
    fake pictures! She also morphs into her annoying child voice that she keeps for the next three
    or so years (yes, she is here to fucking stay). I think perhaps my hate for Chibiusa is a bit
    too strong for a review of the first episode, as her interactions with Usagi are actually
    hilarious and she's quite mysterious too here; but trust me. I hate her with every fibre of my
    being for what she does to R and SuperS, and I will express my hate for her in every single
    review for the next three series.
</p>
<p>
    We get a good look at the new villains of the arc too; the Black Moon cult (I don't remember if
    their name is revealed any time soon, but that is their name). In my opinion, the Black Moon
    cult are significantly better villains than the Dark Kingdom or the Doom Tree both in terms of
    characters and development, as well as the general evil level overall. Their little
    "villainous lair" in the realm of oblivion is a lot more interesting than the Dark Kingdom's
    silly little Dark Brotherhood sanctuary. The villain-of-the-seasons are also better than the
    Princes in Classic too but that's for later. Their plot is to kill the "Rabbit" ('usagi' means
    'rabbit', something that probably went over the heads of the Japanese children watching this
    years ago.
</p>
<p>
    This episode also sets up the plot thread about high-school entrance exams that continues for
    the next three series. This is only a very minor plot point but it constantly keeps coming up
    throughout the show with it being mentioned essentially roughly every five episodes until Stars.
</p>
<hr/>
<p>
    This is a brilliant episode and a great introduction to the Black Moon arc of the show, being
    tightly written everywhere, brilliantly animated, and also a worthy respite from the dreadful
    Makai Tree arc. It's a 5/5 episode for that alone, but yet it makes mad because I know what's
    going to happen next. I can't reasonably dock points from this episode for that, though, so
    it gets full marks.
</p>
{% endblock %}
