{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 44 %}

{% block review %}
<p>
    Forty-four episodes later, we are finally ready to end the Dark Kingdom saga. I, personally,
    hate the Dark Kingdom; they are the worst villains in the whole show. This is the first of the
    three-part episode that finally puts them out of their misery. However, it's a lore-dumpy
    episode rather than the action packed next two episodes.
</p>
<hr/>
<p>
    Sailor Venus and Artemis found the entryway to the Dark Kingdom hideout! The Senshis waste
    absolutely no time exploring it, but are stopped by... uh... energy? Oh, it's Kunzite who
    blocks the way! He "promises" that if Usagi hands over the silver crystal, he won't kill her;
    Usagi counters by telling him that if he shows her Mamoru then she won't kill Kunzite, which
    is a pretty raw line. Unfortunately, they get teleported to the multiversal dimension of evil
    chaos and almost lose the Moon Stick! It guides them safely to the Silver Millenium... and
    Princess Serenity appears to educate them! Or, rather, an aspect of the long-dead Serenity.
</p>
<p>
    The rest of the episode is essentially just a lore dump required to set up the backstories of
    the Senshis, the Dark Kingdom, and Mamoru, with some interspersed scenes of the cats in the
    Arctic. I'll summarise the important points:
</p>
<ul>
    <li>There was a war against the Moon from the peoples of the Earth</li>
    <li>The war was caused by an evil spirit of pure evil called Metalia</li>
    <li>Queen Beryl killed all of the Senshis, Mamoru, and Usagi in the past</li>
    <li>
        Queen Serenity used the power of the silver crystal to send everyone to the future in
        order to defeat the Dark Kingdom when the time was right.
    </li>
</ul>
<p>
    After learning the true meanings of their identity and what happened with the Silver Millenium,
    the Moon Stick transports the Senshis back to Kunzite, where they have to save Luna and Artemis
    from him. I'd like to note that as far as I remember this is one of about five times the Senshis
    ever get a direct kill on the seasonal villain, and even they they essentially only get him via
    technicality (having his own weapon backfire!)
</p>
<hr/>
<p>
    I can't really rate this episode as an episode by itself as it's just a bunch of backstory.
    I can rate the backstory I guess? I like the classic/R lore but it's nothing special. For me
    the most interesting part of this episode is how it conflicts with the lore established by S
    and onwards (e.g. having even one of the outers would have the Moon Kingdom completely curbstomp
    Queen Beryl). I give it a 4/5 for being a necessary episode in the context of the show and at
    the very least being really well animated; but otherwise, yeah - it sure is an episode.
</p>
{% endblock %}
