{% extends "_helpers/review.html" %}

{% set series_id = "classic" %}
{% set number = 24 %}

{% block review %}
<p>
    <strong style="color: red">Nephrite fucking dies.</strong>
</p>
<p>
    It may not seem like it, but this is the first episode of the second half of Classic! What
    better way to start it than by killing the seasonal villain! I think if we cut back a few of
    the shit episodes, like episode four or seventeen, we could've done this death in the first half
    instead - but oh well.
</p>
<hr/>
<p>
    The episode opens with Naru in a deep depression that her paedophile boyfriend never actually
    loved her, then cutting to Nephrite having flashbacks about how Naru loved him, and coming
    to the conclusion that he can manipulate her further to tell him who Sailor Moon is. I love his
    absolute commitment to being a complete evil cunt even in the face of execution by Queen Beryl.
    The black soul gem does some freaky weird stuff showing Naru naked (Nephrite really isn't
    beating the kiddy diddler accusations), and then Nephrite monologues about how he actually
    does love Naru (which is a very transparent ploy) that happens to fail.
</p>
<p>
    Gay Jadeite, on the other hand, is fully committed to being cartoonishly evil and decides to
    capture Naru to use as bait for Nephrite. Naru rings up Usagi to unintentionally warn her about
    the threat Nephrite poses, and Usagi <em>ONCE AGAIN</em> decides to leave without transforming
    so that she has to make up in full sight of Nephrite. Like, come on - it was contrived the first
    time, and it's even stupider this time! This time you even have a pre-warning that he's looking
    for you! Once again, Tuxedo Mask joins the fight with a direct challenge to Nephrite, but
    Nephrite fucks off immediately with a vaguely ominous threat to Usagi.
</p>
<p>
    Fourteen minutes in, Nephrite finally has his heel-face-turn moment and decides to actually save
    Naru for real. This is not really as emotionally impactful as you might think, for he immediately
    decides to tell Naru he's a lying bitch who doesn't really care at all. They share a
    particularly cute scene in the forest with Naru attempting to heal his arm wound, only undercut
    by how Nephrite continues to be a fully grown adult and Naru a 14 year old! He also manages
    to laugh with his mouth closed, which is a pretty cool skill to have.
</p>
<p>
    His actual death comes in a scene which is clearly meant to be dramatic but is timed so absurdly
    fucking poorly that it turns out really, really funny instead. One of Gay Jadeite's minions
    pops out of nowhere and fucking IMPALES HIM in the shoulder - and I mean literally nowhere!
    It absolutely does not fucking work at all and completely undercuts the emotional impact of
    the immediately preceding and succeeding scenes so hard I am absolutely fucking baffled at
    what the writers thought they were achieving here. Through the power of love Naru pulls the
    thorns out, but he fucking dies anyway.
</p>
<hr/>
<p>
    The emotion here in this episode absolutely does not land at all. Nephrite is committed to being
    an absolute bastard for the entire first half of the episode which undercuts his moral
    switchback in the second half and leaves his arc completely unsatisfying. If they hadn't made
    him stay evil for the first half it really could've worked - have him realise, no, he does love
    her at the end of last episode properly! But no. Also it doesn't work because He Is A Very Old
    Adult!
</p>
<p>
    I give this episode a 1.5/5 for COMPLETELY fumbling the emotional bag they set up for the last
    ten episodes. The only solidly emotional part is Naru at the very end of the episode. It's such
    an unfulfilling send-off for a really solid seasonal villain.
</p>
{% endblock %}

