{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "romance" %}
{% set number = 55 %}

{% block review %}
<p>
    Remember how those aliens are meant to be in love with eachother? Like, they're so-o-ulmates!
    They're partners! They're cosmically destined for eachother! Well, the aliens keep fucking
    forgetting it!
</p>
<p>
    Remember how Mako has a lingering love for her long-lost not-boyfriend? She brings it up
    every episode whenever she sees literally any guy that looks slightly attractive! Remember
    how I hate this part of her character? Remember how I hate Makai Tree? Yeah, this episode
    is a beautiful fusion of both! It's Mako's focus episode.
</p>
<hr/>
<p>
    Strictly speaking I don't think there's that much wrong with this episode other than my
    personal distastes for it. The animation is tight and works well, the comedy is decent, but
    I literally just don't care about anything in this episode. It's my website, so I don't
    need to care. 0.5/5.
</p>
{% endblock %}
