{% extends "_helpers/review.html" %}
{% from "_helpers/images.jinja2" import iimg %}

{% set series_id = "classic" %}
{% set number = 39 %}

{% block review %}
<p>
    As I write this, it is negative one degree outside and about 13 degrees in my bedroom. The
    previous episode was ski-themed; this episode is based around ice skating, so I can certainly
    say I'm in the appropriate mood for it. I was meant to go ice skating with someone recently,
    but we spent all day sitting on a beetle instead, which I think was better as I probably would
    have broken my wrist. Anyway, in round 2 of the focus episode this is Mako's focus episode! It
    even says so in the title!
</p>
<hr/>
<p>
    To start off, the episode's preview mentions two olympic figure skaters<sup>[1]</sup>,
    Katarina Witt (two-time olympic champion, 1984 and 1988) and Midori Ito (who had recently won
    a silver medal at the 1992 winter olympics). Last week we got some solid 90s anime art design,
    and this week we get some solidly 90s figure skating references. I don't know anything about
    figure skating at all, so I figured I'd put this there for my audience.
</p>
<p>
    It turns out that figure skating was one of the most popular sports on the Moon, actually! I
    love the logical reasoning jump that Kunzite gives - if he targets figure skating, the post
    popular (?) sport among young girls, he'll be sure to lure out the true identity of Sailor Moon!
    Now, you can't argue it doesn't work - it obviously will! - but that's purely through dumb luck
    rather than any sinister or cunning plot. A lot of the villain plots in this show are thwarted
    through dumb luck with the Senshis just happening to show up where they're trying to target,
    but actually relying on the Mahou Shoujo anime rules is a very risky gamble. Mamoru quite
    rightly points it out that it's a stupid and cowardly idea, even.
</p>
{{ iimg("ep39-2.jpg") }}
<p>
    Nevertheless, this is Sailor Moon, so this plan is obviously going to work. The show even
    lampshades it a bit by stating how suspicious it is that they give free admission to groups of
    five (like... the five Senshis?). Oh, did you remember Mako has this weird unresolved thing
    about this mysterious past dude? That's a plot thread this episode again and I still hate it.
    The animation here ranges from completely dull and lifeless - for example, Ami/Minako/Rei
    skating is just their cels moving away from the background, and some of Mako's skating is her cel
    moving in various poses across a stock footage background - to surprisingly vivid, including
    Usagi's attempt at walking onto the ice and Usagi's failed attempt at skating.
</p>
{{ iimg("ep39-3.jpg") }}
<p>
    A small nit I have about the show's aesthetics is really exemplified in this episode. See, the
    colour palette for a lot of the episodes leans on using turquoises, pale blues, and purples
    everywhere. This works in a lot of places, such as in nighttime scenes and the neon shots of
    the Juban District as it really makes the scenes pop and come to life. However, it absolutely
    does not work in "cold" episodes such as this one! The ice rink is coloured in these same blues
    and turquoises as scenes such as the computer monitor scene which makes everything look like its
    made out of ice! Maybe it's just the cold environment I'm sitting in but this is really an
    unfortunate design choice that makes these cold episode look downright ridiculous. There's a
    few, MUCH worse offences later on, but this is one of the earliest incidents. It doesn't help
    that the show often changes series in the late winter/early spring so a lot of these cold
    episodes happen at the pivotal part of the series.
</p>
<p>
    Anyway, something something Jupiter, something something love, something something bad guy.
    I don't really like or care about Mako's focus episodes that much as they nearly always form
    the same general arc: Mako finds a new man, she gets flustered, she falls in love, oh no! It's
    the same story a few times before her arc finishes with a petering out. Maybe it's partially
    my foreknowledge of how everything plays out with her, or maybe I'm just a misogynist, but I
    feel like this is a boring character arc and a subpar character trait, especially since
    Minako fits this role a lot better.
</p>
<p>
    Tuxedo Mask's role in this filler arc is one of the most interesting parts of it, in my opinion.
    This time, he saves Usagi from the monsters (allegedly because he doesn't like dirty tactics),
    but it's portrayed unclearly as if he's actually evil or not. This is a consistent theme
    throughout every filler episode with him, replacing his previous "always intervenes to give
    Usagi to opening she needs" with an ambiguous will-he-wont-he about his actual moral standing
    with the Senshis especially with Kunzite double-crossing him every time too.
</p>
<hr/>
<p>
    Aside from Mako's arc that I hate, I like this episode. I give it another 3.5/5 for being
    just enjoyable and watchable overall.
</p>
<hr/>
<p>
    [1] - If you're watching the Viz English dub, the references to the two skaters were cut.
    Presumably this is because nobody below the age of about thirty-five would have any idea who
    you're talking about when it was recorded.
</p>
{% endblock %}